
<%= form_for(seed_flat) do |f| %>
  <% if seed_flat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seed_flat.errors.count, "error") %> prohibited this seed_flat from being saved:</h2>

      <ul>
      <% seed_flat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :started_date %>
    <%= f.date_select :started_date %>
  </div>
<% if false %>
  <div class="field">
    <%= f.label :seed_treatments_id %>
    <%= f.select :seed_treatments_id, SeedTreatment.where.not(finished: true).collect{|treatment| ["#{treatment.seed_variety} #{treatment.seed_crop} soaked on #{treatment.soak_start_date}", treatment.id ]}, include_blank: true %>
  </div>
<% end %>
  <div class="field">
    <%= f.label :current_system_id %>
    <%= f.select :current_system_id, System.where(retired_on: nil).collect{|system| ["#{system.system_name} - #{Room.where(id: system.room_id)[0].name}", system.id ]} %>
  </div>

  <div class="field">
    <%= f.label :sewn_for %>
    <%= f.select :customer_id, Customer.all.collect{|customer| ["#{customer.name}", customer.id ]}, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :flat_identifier %>
    <%= f.text_field :flat_id %>
  </div>
  
  <div class="field">
    <%= f.label :crop %>
    <%= f.select :crop_id, Crop.all.order(:crop).collect{|crop| ["#{crop.crop} - #{crop.crop_variety}", crop.id ]}, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :medium %>
    <%= f.text_field :medium, value: "biostrate felt" %>
  </div>

  <div class="field">
    <%= f.label :format %>
    <%= f.text_field :format, value: "matt" %>
  </div>

  <div class="field">
    <%= f.label :seed_weight %>
    <%= f.text_field :seed_weight_oz %>
  </div>

  <div class="field">
    <%= f.label :first_emerge_date %>
    <%= f.text_field :first_emerge_date, include_blank: true, data:{ provide: "datepicker", 'date-format': 'yyyy-mm-dd', "date-today-highlight": true }  %>
  </div>

  <div class="field">
    <%= f.label :full_emerge_date %>
    <%= f.text_field :full_emerge_date, include_blank: true, data:{ provide: "datepicker", 'date-format': 'yyyy-mm-dd', "date-today-highlight": true } %>
  </div>

  <div class="field">
    <%= f.label :emergence_notes %>
    <%= f.text_field :emergence_notes %>
  </div>

<p>*** *** *** *** *** *** *** *** *** *** *** *** </p>

  <div class="field">
    <%= f.label :exclude_from_freshlist %>?
    <%= f.check_box :exclude_from_freshlist %>
  </div>
  
  <div class="field">
    <%= f.label :force_onto_freshlist %>?
    <%= f.check_box :force_onto_freshlist %>
  </div>

<p>*** *** *** *** *** *** *** *** *** *** *** *** </p>  

  <div class="field">
    <%= f.label :harvested_on %>
    <%= f.date_select :harvested_on, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :harvest_weight_oz %>
    <%= f.text_field :harvest_weight_oz %>
  </div>
  
  </div>

  <div class="field">
    <%= f.label :harvest_notes %>
    <%= f.text_field :harvest_notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if false %>

<h1>*** === ***</h1>

<%= form_for(seed_flat) do |f| %>
  <% if seed_flat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seed_flat.errors.count, "error") %> prohibited this seed_flat from being saved:</h2>

      <ul>
      <% seed_flat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% SeedFlat.column_names.each{|column_name| %>
    <%= column_name %>
    <% if column_name == "started_date" %>
      <div class="field">
        <%= f.date_select column_name.to_sym %>
      </div>
    <% elsif column_name == "crop_id" %>  
      <div class="field">
      <%= f.select column_name.to_sym, Crop.all.collect{|crop| ["#{crop.crop} - #{crop.crop_variety}", crop.id ]}, include_blank: true %>
  </div>
    <% else %>    
      <div class="field">
        <%= f.text_field column_name.to_sym %>
      </div>
    <% end %>
  <% } %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% end %>