


  <%= form_for(seed_flat) do |f| %>
    <% if seed_flat.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(seed_flat.errors.count, "error") %> prohibited this seed_flat from being saved:</h2>

        <ul>
        <% seed_flat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :started_date %>
      <%= f.text_field :started_date, include_blank: true, data:{ provide: "datepicker", 'date-format': 'yyyy-mm-dd', "date-today-highlight": true } %>
    </div>
  <% if false %>
    <div class="field">
      <%= f.label :seed_treatments_id %>
      <%= f.select :seed_treatments_id, SeedTreatment.where.not(finished: true).collect{|treatment| ["#{treatment.seed_variety} #{treatment.seed_crop} soaked on #{treatment.soak_start_date}", treatment.id ]}, include_blank: true %>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :current_system_id %>
      <%= f.select :current_system_id, System.where(retired_on: nil).collect{|system| ["#{system.system_name} - #{Room.where(id: system.room_id)[0].name}", system.id ]} %>
    </div>

    <div class="field">
      <%= f.label :sewn_for %>
      <%= f.select :customer_id, Customer.all.collect{|customer| ["#{customer.name}", customer.id ]}, include_blank: true %>
    </div>

    <div class="field">
      <%= f.label :flat_identifier %>
      <%= f.text_field :flat_id %>
    </div>
    
    <div class="field">
      <%= f.label :crop %>
      <%= f.select :crop_id, Crop.all.order(:crop).collect{|crop| ["#{crop.crop} - #{crop.crop_variety}", crop.id ]}, include_blank: true %>
    </div>

    <div class="field">
      <%= f.label :medium %>
      <%= f.text_field :medium, value: "biostrate felt" %>
    </div>

    <div class="field">
      <%= f.label :format %>
      <%= f.text_field :format, value: "matt" %>
    </div>

    <div class="field">
      <%= f.label :seed_weight %>
      <%= f.text_field :seed_weight_oz %>
    </div>

    <div class="field">
      <%= f.label :first_emerge_date %>
      <%= f.text_field :first_emerge_date, include_blank: true, data:{ provide: "datepicker", 'date-format': 'yyyy-mm-dd', "date-today-highlight": true }  %>
    </div>

    <div class="field">
      <%= f.label :full_emerge_date %>
      <%= f.text_field :full_emerge_date, include_blank: true, data:{ provide: "datepicker", 'date-format': 'yyyy-mm-dd', "date-today-highlight": true } %>
    </div>

  <p>*** *** *** *** *** *** *** *** *** *** *** *** </p>

    <div class="field">
      <%= f.label :exclude_from_freshlist %>?
      <%= f.check_box :exclude_from_freshlist %>
    </div>
    
    <div class="field">
      <%= f.label :force_onto_freshlist %>?
      <%= f.check_box :force_onto_freshlist %>
    </div>

  <p>*** *** *** *** *** *** *** *** *** *** *** *** </p>  

    <div class="field">
      <%= f.label :harvested_on %>
      <%= f.text_field :harvested_on, include_blank: true, data:{ provide: "datepicker", 'date-format': 'yyyy-mm-dd', "date-today-highlight": true } %>
    </div>

    <div class="field">
      <%= f.label :harvest_weight_oz %>
      <%= f.text_field :harvest_weight_oz %>
    </div>

    <div class="field">
      <%= f.label :harvest_notes %>
      <%= f.text_field :harvest_notes %>
    </div>

    <br>
    <div class="actions" align="center">
      <%= f.submit class:"btn btn-primary btn-lg" %>
    </div>
  <% end %>

