<%= form_for(seed_flat) do |f| %>
  <% if seed_flat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seed_flat.errors.count, "error") %> prohibited this seed_flat from being saved:</h2>

      <ul>
      <% seed_flat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<hr>
  <p>
    <%= seed_flat.flat_id %> -- <%= seed_flat.crop %> sewn on <%= seed_flat.started_date %>
  </p>
<hr>


  <div class="field">
    <%= f.label :harvested_on %>
    <%= f.date_select :harvested_on %>
  </div>

  <div class="field">
    <%= f.label :harvested_for %>
    <%= f.select :harvested_for, Customer.all.order(:name).collect{|customer| ["#{customer.name}", customer.id ]}, include_blank: true %>
  </div>  

  <div class="field">
    <%= f.label :harvest_weight_oz %>
    <%= f.text_field :harvest_weight_oz %>
  </div>

  <div class="field">
    <%= f.label :harvest_notes %>
    <%= f.text_area :harvest_notes %>
  </div>

  <div class="actions">

    <button type="button" c data-toggle="modal" data-target="#confirm_harvest">Harvest</button>
    
  </div>

<!-- Modal -->
<div class="modal fade" id="confirm_harvest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Harvest</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Confirm Harvest for <%= seed_flat.flat_id %>
      </div>
      <div class="modal-footer">
        <button type="button"  data-dismiss="modal">Close</button>
        <%= f.submit %>
      </div>
    </div>
  </div>
</div>





<% end %>
