<%= form_for(seed_flat) do |f| %>
  <% if seed_flat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seed_flat.errors.count, "error") %> prohibited this seed_flat from being saved:</h2>

      <ul>
      <% seed_flat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4>
    <%= f.label :sewn_for %>
    <%= f.select :customer_id, Customer.all.collect{|customer| ["#{customer.name}", customer.id ]}, selected: "overgrow" %>
    </h4>
  </div>

  <div class="field">
    <h4>
    Flat ID
    <%= f.text_field :flat_id %>
    </h4>
  </div>

  <div class="field">
    <h4>
    <%= f.label :crop %>
    <%= f.select :crop_id, Crop.all.order(:crop).collect{|crop| ["#{crop.crop} - #{crop.crop_variety}", crop.id ]}, include_blank: true %>
    </h4>
  </div>

  <div class="field">
    <h4>
    <%= f.label :seed_weight %>
    <%= f.text_field :seed_weight_oz %>
    </h4>
  </div>

<br><br><br><br>
<p>****** ****** ****** ****** ****** ******</p>
<p>no data entry below</p>
<p>****** ****** ****** ****** ****** ******</p>
  <div class="field">
    <%= f.label :started_date %>
    <%= f.date_select :started_date %>
  </div>

  <div class="field">
    <%= f.label :current_system_id %>
    <%= f.select :current_system_id, System.where(system_name: "propagation").collect{|system| ["#{system.system_name} - #{Room.where(id: system.room_id)[0].name}", system.id ]}.reverse %>
  </div>

  <div class="field">
    <%= f.label :medium %>
    <%= f.text_field :medium, value: "biostrate felt" %>
  </div>

  <div class="field">
    <%= f.label :format %>
    <%= f.text_field :format, value: "matt" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
