<p id="notice"><%= notice %></p>

<h1>Seed Flats</h1>

<table class="seed-flats-index">
  <thead>
    <tr>
      <th>started date</th>
      <th>id</th>
      <th>crop</th>
      <th>variety</th>
      <th>seed brand</th>
      <th>medium</th>
      <th>format</th>
      <th>seed weight</th>
      <th>units</th>
      <th>seed/media treatment</th>
      <th>first emergence</th>
      <th>full emergence</th>
      <th>emergence notes</th>
      <th>first transplant</th>
      <th>notes</th>
      <th>second transplant</th>
      <th>notes</th>
      <th>third transplant</th>
      <th>harvested</th>
      <th>harvest wt oz</th>
      <th>harvest wt lbs</th>
      <th>harvest week</th>
      <th>harvest notes</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @seed_flats.each do |seed_flat| %>
      <% if seed_flat.harvested_on != nil %>
          <tr style="background-color: lightgreen;">
      <% elsif seed_flat.date_of_first_transplant != nil %>
          <tr style="background-color: lightyellow;">
      <% else %>
        <tr>
      <% end %>
        <td><%= seed_flat.started_date %></td>
        <td><%= seed_flat.flat_id %></td>
        <td><%= seed_flat.crop %></td>
        <td><%= seed_flat.crop_variety %></td>
        <td><%= seed_flat.seed_brand %></td>
        <td><%= seed_flat.medium %></td>
        <td><%= seed_flat.format %></td>
        <td><%= seed_flat.seed_weight %></td>
        <td><%= seed_flat.seed_wt_units %></td>
        <td><%= seed_flat.seed_media_treatment_notes %></td>
        <td><%= seed_flat.first_emerge_date %></td>
        <td><%= seed_flat.full_emerge_date %></td>
        <td><%= seed_flat.emergence_notes %></td>
        <td><%= seed_flat.date_of_first_transplant %></td>
        <td><%= seed_flat.first_transplant_notes %></td>
        <td><%= seed_flat.date_of_second_transplant %></td>
        <td><%= seed_flat.second_transplant_notes %></td>
        <td><%= seed_flat.date_of_third_transplant %></td>
        <td><%= seed_flat.harvested_on %></td>
        <td><%= seed_flat.harvest_weight_oz %></td>
        <td><%= seed_flat.hrvst_wt_lbs %></td>
        <td><%= seed_flat.harvest_week %></td>
        <td><%= seed_flat.harvest_notes %></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <table>
            <tr align="center">
              <td>
                <%= link_to 'Show', seed_flat %>
              </td>
              <td>
                <%= link_to 'Edit', edit_seed_flat_path(seed_flat) %>    
              </td>
              <td>
                <%= link_to 'Destroy', seed_flat, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
              <td>
                <%= link_to 'Clone', seed_flats_copy_path(:controller => "seed_flats", :action => "copy", :old_seed_flat => seed_flat.id) %>  
              </td>
              <td>
                <% if seed_flat.harvest_weight_oz == nil %>
                  <%= link_to 'Kill', seed_flats_kill_path(:controller => "seed_flats", :action => "kill", :flat => seed_flat.id) %>
                <% else %>
                  <p>
                                
                  </p>
                <% end %>                
              </td>
              <td>
                
              </td>              
            </tr>
            <tr align="center">
              <td>
                <% if seed_flat.first_emerge_date == nil %>
                  <%= link_to '1st Emerge', seed_flats_first_emerge_path(:controller => "seed_flats", :action => "first_emerge", :flat => seed_flat.id) %>  
                <% else %>
                  <p>
                                
                  </p>
                <% end %>
              </td>
              <td>
                <% if seed_flat.full_emerge_date == nil %>
                  <%= link_to 'Full Emerge', seed_flats_full_emerge_path(:controller => "seed_flats", :action => "full_emerge", :flat => seed_flat.id) %>
                <% else %>
                  <p>
                                
                  </p>
                <% end %>
              </td>
              <td>
                <% if seed_flat.date_of_first_transplant == nil %>
                  <%= link_to '1st Transplant', seed_flats_first_transplant_path(:controller => "seed_flats", :action => "first_transplant", :flat => seed_flat.id) %>
                <% else %>
                  <p>
                                
                  </p>
                <% end %>
              </td>
              <td>
                <% if seed_flat.date_of_second_transplant == nil %>
                  <%= link_to '2nd Transplant', seed_flats_second_transplant_path(:controller => "seed_flats", :action => "second_transplant", :flat => seed_flat.id) %>
                <% else %>
                  <p>
                                
                  </p>
                <% end %>
              </td>
              <td>
                <% if seed_flat.date_of_third_transplant == nil %>
                  <%= link_to '3rd Transplant', seed_flats_third_transplant_path(:controller => "seed_flats", :action => "third_transplant", :flat => seed_flat.id) %>
                <% else %>
                  <p>
                                
                  </p>
                <% end %>                
              </td>
              <td>
                <%= link_to 'Harvest', seed_flats_harvest_path(:controller => "seed_flats", :action => "harvest", :flat => seed_flat.id) %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seed Flat', new_seed_flat_path %>

