<p id="notice"><%= notice %></p>

<table class="seed-flats-index">
  <thead>
    <tr>
      <th>started date</th>
      <th>id</th>
      <th>crop</th>
      <th>variety</th>
      <th>seed brand</th>
      <th>seed weight</th>
      <th>seed/media treatment</th>
      <th>first emergence</th>
      <th>full emergence</th>
      <th>emergence notes</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @seed_flats.each do |seed_flat| %>
      <% if seed_flat.harvest_weight_oz == 0.0 %>
        <tr style="background-color: red;">
      <% elsif seed_flat.harvest_weight_oz != nil %>
          <tr style="background-color: lightgreen;">
      <% elsif seed_flat.date_of_first_transplant != nil %>
          <tr style="background-color: lightyellow;">
      <% else %>
        <tr style="background-color: #F5F5F5; font-size: 18px;">
      <% end %>
        <td><%= seed_flat.started_date %></td>
        <td><%= seed_flat.flat_id %></td>
        <td><%= seed_flat.crop %></td>
        <td class="seed_flat_index_text_cell_small"><%= seed_flat.crop_variety %></td>
        <td><%= seed_flat.seed_brand %></td>
        <td><%= seed_flat.seed_weight_oz %></td>
        <td class="seed_flat_index_text_cell_medium" style="max-width:22px; white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word"><%= seed_flat.seed_media_treatment_notes %></td>
        <td><%= seed_flat.first_emerge_date %></td>
        <td><%= seed_flat.full_emerge_date %></td>
        <td class="seed_flat_index_text_cell_medium" style="max-width:22px; white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word"><%= seed_flat.emergence_notes %></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <table class='seed-flats-index-actions'>
            <tr align="center">
              <td>
                <%= link_to 'Show', seed_flat, :class => "btn btn-outline-info sf-index-actions" %>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- Modal -->
<div class="modal fade" id="kill_<%= seed_flat.id %>" tabindex="-1" role="dialog" aria-labelledby="Confirm Kill Flat" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm kill seed flat <%= seed_flat.flat_id %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to kill <%= seed_flat.flat_id %>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info sf-index-actions" data-dismiss="modal">Close</button>
        <% if seed_flat.harvest_weight_oz == nil %>
                  <%= link_to 'Kill', seed_flats_kill_path(:controller => "seed_flats", :action => "kill", :flat => seed_flat.id), :class => "btn btn-outline-info sf-index-actions" %>
                <% else %>
                  <p>
                                
                  </p>
                <% end %> 
      </div>
    </div>
  </div>
</div>




    <% end %>
  </tbody>
</table>

<br>




<br><br><br><br>
<hr><hr>
<br><br><br><br>












