<br/><br/>
<p id="notice"><%= notice %></p>

<p>
  <strong>Flat ID:</strong>
  <%= @seed_flat.flat_id %>
</p>

<p>
  <strong>Started date:</strong>
  <%= @seed_flat.started_date %>
</p>

<p>
  <strong>Crop:</strong>
  <%= @seed_flat.crop %>
</p>

<p>
  <strong>Crop variety:</strong>
  <%= @seed_flat.crop_variety %>
</p>

<p>
  <strong>Seed brand:</strong>
  <%= @seed_flat.seed_brand %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @seed_flat.medium %>
</p>

<p>
  <strong>Format:</strong>
  <%= @seed_flat.format %>
</p>

<p>
  <strong>Seed weight:</strong>
  <%= @seed_flat.seed_weight %>
</p>

<p>
  <strong>Seed wt units:</strong>
  <%= @seed_flat.seed_wt_units %>
</p>

<p>
  <strong>Seed media treatment notes:</strong>
  <%= @seed_flat.seed_media_treatment_notes %>
</p>

<p>
  <strong>Seed treatments id:</strong>
  <% @seed_treatment = SeedTreatment.where(id: @seed_flat.seed_treatments_id) %>
  <%= link_to("##{@seed_treatment[0].id} -- #{@seed_treatment[0].seed_crop} --  #{@seed_treatment[0].soak_start_datetime.strftime('%a, %e %b')}", @seed_treatment[0]) %>
</p>

<p>
  <strong>First emerge date:</strong>
  <%= @seed_flat.first_emerge_date %>
</p>

<p>
  <strong>Full emerge date:</strong>
  <%= @seed_flat.full_emerge_date %>
</p>

<p>
  <strong>Emergence notes:</strong>
  <%= @seed_flat.emergence_notes %>
</p>

<p>
  <strong>Date of first transplant:</strong>
  <%= @seed_flat.date_of_first_transplant %>
</p>

<p>
  <strong>First transplant notes:</strong>
  <%= @seed_flat.first_transplant_notes %>
</p>

<p>
  <strong>Date of second transplant:</strong>
  <%= @seed_flat.date_of_second_transplant %>
</p>

<p>
  <strong>Second transplant notes:</strong>
  <%= @seed_flat.second_transplant_notes %>
</p>

<p>
  <strong>Harvested on:</strong>
  <%= @seed_flat.harvested_on %>
</p>

<p>
  <strong>Harvest weight oz:</strong>
  <%= @seed_flat.harvest_weight_oz %>
</p>

<p>
  <strong>Hrvst wt lbs:</strong>
  <%= @seed_flat.hrvst_wt_lbs %>
</p>

<p>
  <strong>Harvest week:</strong>
  <%= @seed_flat.harvest_week %>
</p>

<p>
  <strong>Harvest notes:</strong>
  <%= @seed_flat.harvest_notes %>
</p>


<div class="container-fluid">
  <div class="row">
    <div class="col-xs" style="margin-right:6px;">
      <%= link_to 'Edit', edit_seed_flat_path(@seed_flat), :class => "dropbtn btn btn-success" %>
    </div>
    <div class="col-xs" style="margin-right:6px;">
      <%= link_to 'Clone', seed_flats_copy_path(:controller => "seed_flats", :action => "copy", :old_seed_flat => @seed_flat.id), :class => "dropbtn btn btn-success" %>
    </div>
    <div class="col-xs" style="margin-right:6px;">
      <%= link_to 'New Seed Flat', new_seed_flat_path, :class => "dropbtn btn btn-success" %>
    </div>
  </div>
</div>

