<div class="form form-container">
  <%= form_with(model: team_members_shift, local: true) do |form| %>
    <% if team_members_shift.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(team_members_shift.errors.count, "error") %> prohibited this team_members_shift from being saved:</h2>

        <ul>
        <% team_members_shift.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :team_member_id %><br>
      <%= form.select :team_member_id, TeamMember.all.collect{|team_member| ["#{team_member.fname} #{team_member.lname}", team_member.id ] }, :include_blank => true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :planned_shift_date %>
      <%= form.text_field :planned_shift_date, include_blank: true, data:{ provide: "datepicker", 'date-format': 'yyyy-mm-dd', "date-today-highlight": true }, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :planned_shift_hrs %>
      <%= form.text_field :planned_shift_hrs, id: :team_members_shift_shift_hrs, class: "form-control"  %>
    </div>

    <div class="actions">
      <%= form.submit "submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>