<p id="notice"><%= notice %></p>

<p>
  <strong>Team member:</strong>
  <%= @team_members_shift.team_member_id %>
</p>

<p>
  <strong>Planned Shift date:</strong>
  <%= @team_members_shift.planned_shift_date %>
</p>

<p>
  <strong>Planned Shift hrs:</strong>
  <%= @team_members_shift.planned_shift_hrs %>
</p>

<p>
  <strong>Actual Shift date:</strong>
  <%= @team_members_shift.planned_shift_date %>
</p>

<p>
  <strong>Actual Shift hrs:</strong>
  <%= @team_members_shift.planned_shift_hrs %>
</p>

<p>
  <strong>Paid?:</strong>
  <%= @team_members_shift.paid %>
</p>

<%= link_to 'Edit', edit_team_members_shift_path(@team_members_shift) %> |
<%= link_to 'Back', team_members_shifts_path %>
