<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crop_mix.name %>
</p>

<p>
  <strong>Crop one:</strong>
  <%= @crop_mix.crop_one_id %>
</p>

<p>
  <strong>Crop one parts:</strong>
  <%= @crop_mix.crop_one_parts %>
</p>

<p>
  <strong>Crop two:</strong>
  <%= @crop_mix.crop_two_id %>
</p>

<p>
  <strong>Crop two parts:</strong>
  <%= @crop_mix.crop_two_parts %>
</p>

<p>
  <strong>Crop three:</strong>
  <%= @crop_mix.crop_three_id %>
</p>

<p>
  <strong>Crop three parts:</strong>
  <%= @crop_mix.crop_three_parts %>
</p>

<p>
  <strong>Crop four:</strong>
  <%= @crop_mix.crop_four_id %>
</p>

<p>
  <strong>Crop four parts:</strong>
  <%= @crop_mix.crop_four_parts %>
</p>

<p>
  <strong>Crop five:</strong>
  <%= @crop_mix.crop_five_id %>
</p>

<p>
  <strong>Crop five parts:</strong>
  <%= @crop_mix.crop_five_parts %>
</p>

<p>
  <strong>Crop six:</strong>
  <%= @crop_mix.crop_six_id %>
</p>

<p>
  <strong>Crop six parts:</strong>
  <%= @crop_mix.crop_six_parts %>
</p>

<p>
  <strong>Crop seven:</strong>
  <%= @crop_mix.crop_seven_id %>
</p>

<p>
  <strong>Crop seven parts:</strong>
  <%= @crop_mix.crop_seven_parts %>
</p>

<p>
  <strong>Crop eight:</strong>
  <%= @crop_mix.crop_eight_id %>
</p>

<p>
  <strong>Crop eight parts:</strong>
  <%= @crop_mix.crop_eight_parts %>
</p>

<%= link_to 'Edit', edit_crop_mix_path(@crop_mix) %> |
<%= link_to 'Back', crop_mixes_path %>
