<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :customer_name %>
  </div>

  <div class="field">
    <%= form.label :harvest_preferences %><br>
    <%= form.text_area :harvest_preferences, id: :customer_harvest_preferences %>
  </div>

  <div class="field">
    <%= form.label :delivery_preferences %><br>
    <%= form.text_area :delivery_preferences, id: :customer_delivery_preferences %>
  </div>

  <div class="field">
    <%= form.label :notes %><br>
    <%= form.text_area :notes, id: :customer_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
