<div class="master-container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @customer.name %>
	</p>

	<p>
	  <strong>Harvest Preferences:</strong>
	  <%= @customer.harvest_preferences %>
	</p>

	<p>
	  <strong>Delivery Preferences:</strong>
	  <%= @customer.delivery_preferences %>
	</p>

	<p>
	  <strong>Notes:</strong>
	  <%= @customer.notes %>
	</p>

	<%= link_to 'Edit', edit_customer_path(@customer) %> |
	<%= link_to 'Back', customers_path %>

	<br><hr><br>
	<div align="center">
		<%= link_to "New Standing Order", orders_new_standing_order_form_path(pass_customer_id: @customer.id), class: "btn btn-success btn-lg" %>
		<%= link_to "New Ad-Hoc Order", orders_new_ad_hoc_order_form_path(pass_customer_id: @customer.id), class: "btn btn-success btn-lg" %>
	</div>
	<% @orders = Order.where(customer_id: @customer.id).where(cancelled_on: nil) %>
	<table>
		<tr>
			<% @this_week_hsh.each{|day,date| %>
				<td style="padding: 22px;" valign="top">
					<h1><%= day %> (<%= date %>)</h1>
					<% @orders.where(day_of_week: day).order(crop_id: :asc).each{|order| %>
						<div class="card" style="padding:6px;">
							<%= link_to "#{order.qty_oz} oz #{Crop.where(id: order.crop_id)[0].crop_variety}, #{Crop.where(id: order.crop_id)[0].crop.capitalize}", edit_order_path(order) %>
							<span style="white-space: nowrap ;"> ><%= link_to "clone", orders_clone_path(order: order) %> ><%= link_to "cancel", orders_cancel_path(:controller => "orders", :action => "cancel", :order => order.id) %></span>
						</div>
					<% } %>	
				</td>
			<% } %>
		</tr>
	</table>
</div>