<div class="master-container">
	<p id="notice"><%= notice %></p>

	<h1 align="center">
	  <%= @customer.name.upcase %>
	</h1>
	<h4 align="center">
	  <%= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-primary btn-sm" %>
	  <%= link_to 'Back', customers_path, class: "btn btn-primary btn-sm" %>
	</h4>
	
	<div align="center" style="margin:auto; max-width: 1200px; padding: 22px;">
		<p>
		  <strong>Harvest Preferences:</strong>
		  <%= @customer.harvest_preferences %>
		</p>

		<p>
		  <strong>Delivery Preferences:</strong>
		  <%= @customer.delivery_preferences %>
		</p>

		<p>
		  <strong>Notes:</strong>
		  <%= @customer.notes %>
		</p>
	</div>


	<div style="margin:auto; max-width: 1200px; border: solid 1px black; padding: 22px;">
		<% @orders = Order.where(customer_id: @customer.id).where(cancelled_on: nil) %>
		<% @new_orders = Order.where(customer_id: @customer.id).where(cancelled_on: nil).where('calculated_first_delivery_date >= ?', Date.today).order(:calculated_first_delivery_date) %>
		<h2 align="center">Pending Standing Orders</h2>
		<ul>
		<% @new_orders.each{|order| %>
			<li>
				<h3>
					<%= order.qty_oz %> oz <%= Crop.where(id: order.crop_id)[0].crop_variety %> <%= Crop.where(id: order.crop_id)[0].crop.capitalize %> | calculated first delivery : <%= order.calculated_first_delivery_date.strftime('%a %d %b %Y') %>
				</h3>
				<ul>
					<li>
						<% first_check_date = (order.created_at.to_date + ((order.calculated_first_delivery_date - order.created_at.to_date).to_i/2)) %>
						
						1st Pipeline Check: <strong><%=  first_check_date.strftime('%a %d %b %Y') %></strong>
					</li>
					<li>
						<% second_check_date = (first_check_date + ((order.calculated_first_delivery_date - first_check_date).to_i/2)) %>
						2nd Pipeline Check: <strong><%=  second_check_date.strftime('%a %d %b %Y') %></strong>
					</li>
				</ul>
			</li>	
		<% } %>
		</ul>
	</div>

	<hr>
	<hr>
	
	<h2 align="center">
		Orders Calendar	
	</h2>

	<div align="center">
		<%= link_to "New Standing Order", orders_new_standing_order_form_path(pass_customer_id: @customer.id), class: "btn btn-success btn-lg" %>
		<%= link_to "New Ad-Hoc Order", orders_new_ad_hoc_order_form_path(pass_customer_id: @customer.id), class: "btn btn-success btn-lg" %>
	</div>
	<% @orders = Order.where(customer_id: @customer.id).where(cancelled_on: nil) %>
	<table>
		<tr>
			<% @this_week_hsh.each{|day,date| %>
				<td style="padding: 22px;" valign="top">
					<h1><%= day %> (<%= date.strftime("%m/%d") %>)</h1>
					<% @orders.where(day_of_week: day).order(crop_id: :asc).each{|order| %>
						<div class="card" style="padding:6px;">
							<%= link_to "#{order.qty_oz} oz #{Crop.where(id: order.crop_id)[0].crop_variety}, #{Crop.where(id: order.crop_id)[0].crop.capitalize}", edit_order_path(order) %>
							<span style="white-space: nowrap ;"><%= order.harvest_preferences %></span>
							<span style="white-space: nowrap ;"> &bull;<%= link_to "clone", orders_clone_path(order: order) %> &bull;<%= link_to "cancel", orders_cancel_path(:controller => "orders", :action => "cancel", :order => order.id) %></span>
						</div>
					<% } %>	
				</td>
			<% } %>
		</tr>
	</table>

<hr>
<hr>

	<h2 align="center">
		Pipeline Check Guide
	</h2>

	<% ordered_crops = Order.where(customer_id: @customer.id).where(cancelled_on: nil).pluck(:crop_id).uniq %>

	<table width="100%">
		<tr>
			<% ordered_crops.each{|cropid| %>
				<td style="vertical-align: top;"> 
					<h2 align="center">
						<%= Crop.where(id: cropid)[0].crop_variety %> <%= Crop.where(id: cropid)[0].crop.capitalize %>
					</h2>
					
					<% flats = SeedFlat.where(harvest_weight_oz: nil).where(customer_id: @customer.id).where(crop_id: cropid) %>
					<% flats.group_by{|flat| flat.anticipated_ready_date }.sort_by{|dategroup| dategroup[0] }.each{|dategroup| %>
						<h3><%= dategroup[0] %></h3>
						<% dategroup[1].group_by{|flat| flat.current_system_id }.each{|systemgroup| %>
							<h4><%= System.where(id: systemgroup[0])[0].system_name %></h4>
							<ul>
								<% systemgroup[1].each{|flat| %>
									<li>
										<%= link_to "#{flat.flat_id} (#{(Date.today - flat.started_date).to_i} day)", flat %>
									</li>
								<% } %>
							</ul>
						<% } %>
						<hr><hr>
					<% } %>

				</td>
			<% } %>
		</tr>
	</table>



</div>