<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer %>
    <%= form.select :customer_id, Customer.all.collect{|customer| ["#{customer.name}", customer.id ]}, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :day_of_week %>
    <%= form.text_field :day_of_week, id: :order_day_of_week %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :order_date, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :standing_order %>
    <%= form.check_box :standing_order %>
  </div>

  <div class="field">
    <%= form.label :qty_oz %>
    <%= form.number_field :qty_oz, class: :text_field, step: :any %>
  </div>

  <div class="field">
    <%= form.label :crop_id %>
    <%= form.select :crop_id, Crop.all.collect{|crop| ["#{crop.crop} - #{crop.crop_variety}", crop.id ]}, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :maturity_days %>
    <%= form.number_field :maturity_days, class: :text_field, step: :any %>
  </div>

  <div class="field">
    <%= form.label :harvest_preferences %>
    <%= form.text_area :harvest_preferences, id: :order_harvest_preferences %>
  </div>

  <div class="field">
    <%= form.label :cancelled_on %>
    
    <%= form.text_field :cancelled_on, include_blank: true, data:{ provide: "datepicker", 'date-format': 'yyyy-mm-dd', "date-today-highlight": true }  %>
  </div>  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
