<p id="notice"><%= notice %></p>

<h1 style="margin-left:333px;">
  Orders <br>
  <%= link_to 'New Order', new_order_path, :class => "btn btn-success" %>
</h1>

<table class="index-table">
  <thead>
    <tr>
      <th></th>
      <th>Customer</th>
      <th>Day of week</th>
      <th>Date</th>
      <th>Standing Order?</th>
      <th>Qty oz</th>
      <th>Crop</th>
      <th>Maturity Days</th>
      <th>Harvest Preferences</th>
      <th>Cancelled On</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <% if order.cancelled_on != nil %>
        <tr class="border-bottom" style="background-color: #CD3333;">
      <% else %>
        <tr class="border-bottom">
      <% end %>
        <td><%= link_to 'Show', order %></td>
        <td><%= Customer.where(id: order.customer_id)[0].name unless order.customer_id == nil %></td>
        <td><%= order.day_of_week %></td>
        <td><%= order.date %></td>
        <td><%= order.standing_order %></td>
        <td><%= order.qty_oz %></td>
        <td><%= Crop.where(id: order.crop_id)[0].crop %>, <%= Crop.where(id: order.crop_id)[0].crop_variety %></td>
        <td><%= order.maturity_days %></td>
        <td><%= order.harvest_preferences %></td>
        <td><%= order.cancelled_on %></td>
        <td>
          <%= link_to "clone", orders_clone_path(:controller => "orders", :action => "clone", :order => order.id) %> &nbsp; | &nbsp; 
          <%= link_to "cancel", orders_cancel_path(:controller => "orders", :action => "cancel", :order => order.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<hr>
<br><br>

<% @customer_orders.each{|customer_group| %>
  <h2>
    <%= Customer.where(id: customer_group[0])[0].name %>      
  </h2>
  <ul>
    <h3>Monday</h3>
    <% customer_group[1].select{|order| order.day_of_week == "Monday" }.each{|order| %>
      <li>
        <%= order.qty_oz %>oz <%= Crop.where(id: order.crop_id)[0].crop_variety %>, <%= Crop.where(id: order.crop_id)[0].crop.capitalize %>
      </li>
    <% } %>
    <h3>Tuesday</h3>
    <% customer_group[1].select{|order| order.day_of_week == "Tuesday" }.each{|order| %>
      <li>
        <%= order.day_of_week %>: <%= order.qty_oz %>oz <%= Crop.where(id: order.crop_id)[0].crop_variety %>, <%= Crop.where(id: order.crop_id)[0].crop.capitalize %>
      </li>
    <% } %>
    <h3>Wednesday</h3>
    <% customer_group[1].select{|order| order.day_of_week == "Wednesday" }.each{|order| %>
      <li>
        <%= order.day_of_week %>: <%= order.qty_oz %>oz <%= Crop.where(id: order.crop_id)[0].crop_variety %>, <%= Crop.where(id: order.crop_id)[0].crop.capitalize %>
      </li>
    <% } %>
    <h3>Thursday</h3>
    <% customer_group[1].select{|order| order.day_of_week == "Thursday" }.each{|order| %>
      <li>
        <%= order.day_of_week %>: <%= order.qty_oz %>oz <%= Crop.where(id: order.crop_id)[0].crop_variety %>, <%= Crop.where(id: order.crop_id)[0].crop.capitalize %>
      </li>
    <% } %>
    <h3>Friday</h3>
    <% customer_group[1].select{|order| order.day_of_week == "Friday" }.each{|order| %>
      <li>
        <%= order.day_of_week %>: <%= order.qty_oz %>oz <%= Crop.where(id: order.crop_id)[0].crop_variety %>, <%= Crop.where(id: order.crop_id)[0].crop.capitalize %>
      </li>
    <% } %>
    <h3>Saturday</h3>
    <% customer_group[1].select{|order| order.day_of_week == "Saturday" }.each{|order| %>
      <li>
        <%= order.day_of_week %>: <%= order.qty_oz %>oz <%= Crop.where(id: order.crop_id)[0].crop_variety %>, <%= Crop.where(id: order.crop_id)[0].crop.capitalize %>
      </li>
    <% } %>
    <h3>Sunday</h3>
    <% customer_group[1].select{|order| order.day_of_week == "Sunday" }.each{|order| %>
      <li>
        <%= order.day_of_week %>: <%= order.qty_oz %>oz <%= Crop.where(id: order.crop_id)[0].crop_variety %>, <%= Crop.where(id: order.crop_id)[0].crop.capitalize %>
      </li>
    <% } %>
  </ul>
<% } %>