<div style="margin-left:16px;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= Customer.where(id: @order.customer_id)[0].name unless @order.customer_id == nil %>
</p>

<p>
  <strong>Day of week:</strong>
  <%= @order.day_of_week %>
</p>

<p>
  <strong>Date:</strong>
  <%= @order.date %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @order.start_date %>
</p>

<p>
  <strong>Standing Order:</strong>
  <%= @order.standing_order %>
</p>

<p>
  <strong>Qty oz:</strong>
  <%= @order.qty_oz %>
</p>

<p>
  <strong>Crop:</strong>
  <%= Crop.where(id: @order.crop_id)[0].crop %>, <%= Crop.where(id: @order.crop_id)[0].crop_variety %>
</p>

<p>
  <strong>Maturity Days:</strong>
  <%= @order.maturity_days %>
</p>

<p>
  <strong>Harvest Preferences:</strong>
  <%= @order.harvest_preferences %>
</p>

<p>
  <strong>Cancelled On:</strong>
  <%= @order.cancelled_on %>
</p>

<%= link_to 'Edit', edit_order_path(@order), class: "btn btn-success" %>
<%= link_to 'Back', "/orders/current_index", class: "btn btn-success" %>
<%= link_to 'Clone', orders_clone_path(:controller => "orders", :action => "clone", :order => @order.id), :class => "dropbtn btn btn-success" %>
<%= link_to 'Customer', customer_path(@order.customer_id), :class => "dropbtn btn btn-success" %>
</div>