<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @media_unit_cost.date %>
</p>

<p>
  <strong>Media:</strong>
  <%= @media_unit_cost.media %>
</p>

<p>
  <strong>Unit cost:</strong>
  <%= @media_unit_cost.unit_cost %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @media_unit_cost.notes %>
</p>

<%= link_to 'Edit', edit_media_unit_cost_path(@media_unit_cost) %> |
<%= link_to 'Back', media_unit_costs_path %>
