<div class="master-container">
<% if false %>
<h1>SEW</h1>
<% @final_sew_instructions.each{|inst| %>
	<h1>
		<%= inst[0] %>
	</h1>
	<ul style="list-style: none;">
		<% inst[1].each{|hsh| %>
			<li>
				<%= hsh[:qty].round(2).to_i %> 
				<% if hsh[:qty].round(2) > 1 %>
					<%= hsh[:qty_units] %>s 
				<% else %>
					<%= hsh[:qty_units] %>
				<% end %>
				<%= Crop.where(id: Order.where(id: hsh[:order_ids].sample)[0].crop_id)[0].crop_variety %> <%= Crop.where(id: Order.where(id: hsh[:order_ids].sample)[0].crop_id)[0].crop.capitalize %>
			</li>
		<% } %>
	</ul>
<% } %>

<% end %>


<% days_ref.each{|day| %>
	<h1><%= day %></h1>
	<ul>
		<% @sew_instructions.select{|hsh| hsh[:day] == day }.each{|hsh| %>
			<li>
				<% if 
				<%= hsh[:qty] %> <%= hsh[:qty_units] %> <%= hsh[:order_id] %><br><br>
			</li>
		<% } %>
	</ul>
<% } %>

	<% @sew_instructions.each{|hsh| %>
		<%= hsh %><br><br>
	<% } %>


</div>	