<p id="notice"><%= notice %></p>

<h1>Crops</h1>

<div class="anchor">

<table class="index-table">
  <thead>
    <tr>
      <th>Crop</th>
      <th>Crop variety</th>
      <th>Soak OZ per Flat</th>
      <th>Treatment Days</th>
      <th>Sew OZ per Flat</th>
    </tr>
  </thead>

  <tbody>
    <% @crops.each do |crop| %>
      <tr>
        <td><%= crop.crop %></td>
        <td><%= link_to crop.crop_variety, crop %></td>
        <td align="center"><%= crop.ideal_soak_seed_oz_per_flat %></td>
        <td align="center"><%= crop.ideal_treatment_days %></td>
        <td align="center"><%= crop.ideal_sew_seed_oz_per_flat %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>