<%= form_with(model: seed_treatment, local: true) do |form| %>
  <% if seed_treatment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seed_treatment.errors.count, "error") %> prohibited this seed_treatment from being saved:</h2>

      <ul>
      <% seed_treatment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :soak_start_datetime %>
    <%= form.datetime_select :soak_start_datetime, id: :seed_treatment_soak_start_datetime %>
  </div>

  <div class="field">
    <%= form.label :seed_crop %>
    <%= form.text_field :seed_crop, id: :seed_treatment_seed_crop %>
  </div>

  <div class="field">
    <%= form.label :seed_variety %>
    <%= form.text_field :seed_variety, id: :seed_treatment_seed_variety %>
  </div>

  <div class="field">
    <%= form.label :seed_brand %>
    <%= form.text_field :seed_brand, id: :seed_treatment_seed_brand %>
  </div>

  <div class="field">
    <%= form.label :seed_quantity_oz %>
    <%= form.text_field :seed_quantity_oz, id: :seed_treatment_seed_quantity_oz %>
  </div>

  <div class="field">
    <%= form.label :soak_solution %>
    <%= form.text_field :soak_solution, id: :seed_treatment_soak_solution, :value => "germ nutsol" %>
  </div>

  <p>****** ****** ****** ****** ****** ******</p>

  <div class="field">
    <%= form.label :soak_duration_hrs %>
    <%= form.text_field :soak_duration_hrs, id: :seed_treatment_soak_duration_hrs %>
  </div>

  <div class="field">
    <%= form.label :post_soak_treatment %>
    <%= form.text_field :post_soak_treatment, id: :seed_treatment_post_soak_treatment %>
  </div>

  <div class="field">
    <%= form.label :soak_notes %>
    <%= form.text_area :soak_notes, id: :seed_treatment_soak_notes %>
  </div>

  <div class="field">
    <%= form.label :germination_start_date %>
    <%= form.date_select :germination_start_date, id: :seed_treatment_germination_start_date, :include_blank => true%>
  </div>

  <div class="field">
    <%= form.label :germination_vehicle %>
    <%= form.text_field :germination_vehicle, id: :seed_treatment_germination_vehicle %>
  </div>

  <div class="field">
    <%= form.label :first_emerge_date %>
    <%= form.date_select :first_emerge_date, id: :seed_treatment_first_emerge_date, :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :full_emerge_date %>
    <%= form.date_select :full_emerge_date, id: :seed_treatment_full_emerge_date, :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :days_to_full_emergence %>
    <%= form.text_field :days_to_full_emergence, id: :days_to_full_emergence %>
  </div>

  <div class="field">
    <%= form.label :emergence_notes %>
    <%= form.text_area :emergence_notes, id: :seed_treatment_emergence_notes %>
  </div>

  <div class="field">
    <%= form.label :date_of_first_flat_sew %>
    <%= form.date_select :date_of_first_flat_sew, id: :seed_treatment_date_of_first_flat_sew, :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :date_of_last_flat_sew %>
    <%= form.date_select :date_of_last_flat_sew, id: :seed_treatment_date_of_last_flat_sew, :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :destination_flat_ids %>
    <%= form.text_area :destination_flat_ids, id: :seed_treatment_destination_flat_ids %>
  </div>
  
<p>****** ****** ****** ****** ****** ******</p>

  <div class="field">
    <%= form.label :killed_on %>
    <%= form.date_select :killed_on, id: :seed_treatment_killed_on, :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :finished? %>
    <%= form.check_box :finished %>
  </div>  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
