<div class="form-container">


  <h1 align="center">
    <%= @info %>
  </h1>
  <br>

  <%= form_with(model: @seed_treatment, local: true) do |form| %>
    <% if @seed_treatment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@seed_treatment.errors.count, "error") %> prohibited this seed_treatment from being saved:</h2>

        <ul>
        <% @seed_treatment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :crop_id %>
      <%= form.select :crop_id, Crop.all.order(:crop).collect{|crop| ["#{crop.crop} - #{crop.crop_variety}", crop.id ]}, include_blank: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :seed_quantity_oz %>
      <%= form.text_field :seed_quantity_oz, id: :seed_treatment_seed_quantity_oz, class: "form-control" %>
    </div>



    <p align="center">****** ****** ****** ****** ****** ******</p>
    
    <div class="form-group">
      <%= form.label :soak_solution %>
      <%= form.text_field :soak_solution, id: :seed_treatment_soak_solution, :value => "tap water", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :soak_start_datetime %>
      <%= form.datetime_select :soak_start_datetime, id: :seed_treatment_soak_start_datetime, class: "form-control" %>
    </div>


    <div class="form-group">
      <%= form.label :soak_notes %>
      <%= form.text_area :soak_notes, id: :seed_treatment_soak_notes, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :order_ids %>
      <%= form.text_area :order_ids, id: :order_ids, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :orders %>
      <%= form.text_area :orders, id: :orders, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :killed_on %>
      <%= form.date_select :killed_on, id: :seed_treatment_killed_on, :include_blank => true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :finished? %>
      <%= form.check_box :finished %>
    </div>

    <div class="actions" align="center">
      <%= form.submit "submit", class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>

</div>