<p id="notice"><%= notice %></p>

<h1></h1>
<h1 align="center">
  Seed Treatments<br>
  <%= link_to 'New Seed Treatment', new_seed_treatment_path, :class => "dropbtn btn btn-success" %>
</h1>


<table align="center">
  <tr>
    <th style="padding-right: 22px; padding-left: 22px;">
      crop
    </th>
    <th style="padding-right: 22px; padding-left: 22px; text-align: center;">
      sample size<br>(# treatments)
    </th>
    <th style="padding-right: 22px; padding-left: 22px; text-align: center;">
      avg oz / flat<br>(oz)
    </th>
    <th style="padding-right: 22px; padding-left: 22px; text-align: center;">
      avg treatment duration <br>(days)
    </th>
  </tr>
  <% @crops.sort_by{|c| c }.each{|c| %>
  <tr>
    <% @crop_query = @all_seed_treatments.where(seed_crop: c) %>
    <% @treatment_query = SeedTreatment.where(seed_crop: c).where.not(destination_flat_ids: []) %>

    <td style="padding-right: 6px; padding-left: 6px;">
      <%= c %>
    </td>
    <td style="padding-right: 6px; padding-left: 6px; text-align: center;">
      <%= @crop_query.count %>
    </td>
    <td style="padding-right: 6px; padding-left: 6px; text-align: center;">
      <% if @treatment_query.count == 0 %>
        0
      <% else %>
        <%= ( @treatment_query.to_a.map{|treatment| (treatment.seed_quantity_oz / treatment.destination_flat_ids.count) }.inject{|dur,sum| dur+sum }/@treatment_query.count ).round(2) %>
      <% end %>
    </td>
    <td style="padding-right: 6px; padding-left: 6px; text-align: center;">
      <% if false %>
        <%= ( @treatment_query.to_a.map{|treatment| ( treatment.date_of_first_flat_sew - treatment.soak_start_date).to_i.to_f }.inject{|dur,sum| dur+sum }/@treatment_query.count ).round(2) %>
      <% end %>
    </td>
  </tr>
  <% } %>
</table>

<p style="padding-left: 14px;"><u><strong>Legend:</strong></u> soaking | <span style="background-color: yellow;">germinating</span> | <span style="background-color: green;">finished</span> | <span style="background-color: red;">killed</span> </p>
<table class="index-table">
  <thead>
    <tr>
      <th></th>
      <th align="center" style="padding-left: 14px;">started</th>
      <th align="center">crop</th>
      <th align="center">seed qty oz</th>
      <th align="center">soak hrs</th>
      <th align="center">germ start</th>
      <th align="center">1st em</th>
      <th align="center">full em</th>
      <th align="center">days since start</th>
      <th align="center">planned 1st sew</th>
      <th align="center">last sew date</th>
      <th align="center"># Flats Sown</th>
      <th align="center">Destination flat ids</th>
    </tr>
  </thead>

  <tbody>
    <% @live_seed_treatments.each do |seed_treatment| %>
      <% if seed_treatment.killed_on != nil %>
        <tr bgcolor="red">
      <% elsif seed_treatment.finished == true %>
        <tr bgcolor="green">
      <% elsif seed_treatment.germination_start_date != nil %>
        <tr bgcolor="#FFFF66">
      <% else %>
        <tr>
      <% end %>
        <td style="border-right: black 1px solid">
          <table class='seed-flats-index-actions'>
            <tr align="center">
              <td>
                <%= link_to 'End Soak', seed_treatments_end_soak_path(:controller => "seed_treatments", :action => "end_soak", :seed_treatment => seed_treatment), :class => "btn btn-outline-info sf-index-actions" %>
                <%= link_to 'First Emerge', seed_treatments_first_emerge_path(:controller => "seed_treatments", :action => "first_emerge", :seed_treatment => seed_treatment), :class => "btn btn-outline-info sf-index-actions" %>
                <%= link_to 'Full Emerge', seed_treatments_full_emerge_path(:controller => "seed_treatments", :action => "full_emerge", :seed_treatment => seed_treatment), :class => "btn btn-outline-info sf-index-actions" %>
              </td>
            </tr>
            <tr align="center">
              <td>
                <%= link_to 'C Full Emerge', seed_treatments_cascade_full_emerge_path(:controller => "seed_treatments", :action => "cascade_full_emerge", :seed_treatment => seed_treatment), :class => "btn btn-outline-info sf-index-actions" %>
                <%= link_to 'Sew Flat', seed_flats_new_treated_seed_flat_path(:controller => "seed_flats", :action => "new_treated_seed_flat", :seed_treatment => seed_treatment), :class => "btn btn-outline-info sf-index-actions" %>
                <%= link_to 'Finish', seed_treatments_finish_path(:controller => "seed_flats", :action => "finish", :seed_treatment => seed_treatment), :class => "btn btn-outline-info sf-index-actions" %>
              </td>
            </tr>
          </table>
        </td>

        <td style="padding-left: 14px;" align="center"><%= seed_treatment.soak_start_datetime.strftime("%b %d") unless seed_treatment.germination_start_date == nil %></td>
        <td align="center"><%= link_to("#{Crop.where(id: seed_treatment.crop_id)[0].crop} - #{Crop.where(id: seed_treatment.crop_id)[0].crop_variety}", seed_treatment) %></td>
        <td align="center"><%= seed_treatment.seed_quantity_oz %></td>
        <td align="center">
          <% if seed_treatment.soak_duration_hrs == nil %>
            <%= ((Time.now - seed_treatment.soak_start_datetime)/60/60).round(2) %>
          <% else %>
            <%= seed_treatment.soak_duration_hrs %>
          <% end %>
          
        </td>
        <td align="center"><%= seed_treatment.germination_start_date %></td>
        <td align="center"><%= seed_treatment.first_emerge_date %></td>
        <td align="center"><%= seed_treatment.full_emerge_date %></td>
        <td align="center"><strong>
          <% if seed_treatment.germination_start_date == nil %>
          <% else %>  
            <%= (Date.today - seed_treatment.germination_start_date).to_i %>
          <% end %>  
          </strong></td>
        <td align="center"><%= seed_treatment.planned_date_of_first_flat_sew %></td>
        <td align="center"><%= seed_treatment.date_of_last_flat_sew %></td>
        <td align="center">
          <% @num_flats_sewn = SeedFlat.where(seed_treatments_id: seed_treatment.id).count %>
          <%= @num_flats_sewn %>
        </td>
        <td align="center">
          <% seed_treatment.destination_flat_ids.each{|flat| %>
            <%= link_to( flat, SeedFlat.where(id: flat)[0] ) %>
          <% } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<h1 align="center">
  <%= link_to 'All Seed Treatments', seed_treatments_path, :class => "dropbtn btn btn-success" %>
</h1>
<br><br>