<p id="notice"><%= notice %></p>

<h1>Seed Treatments</h1>

<table>
  <thead>
    <tr>
      <th>Soak start datetime</th>
      <th>Seed crop</th>
      <th>Seed variety</th>
      <th>Seed brand</th>
      <th>Seed quantity oz</th>
      <th>Soak solution</th>
      <th>Soak duration hrs</th>
      <th>Post soak treatment</th>
      <th>Soak notes</th>
      <th>Germination start date</th>
      <th>Germination vehicle</th>
      <th>First emerge date</th>
      <th>Full emerge date</th>
      <th>Days to full emergence</th>
      <th>Emergence notes</th>
      <th>Killed on</th>
      <th>Planned date of first flat sew</th>
      <th>Date of first flat sew</th>
      <th>Date of last flat sew</th>
      <th>Destination flat ids</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @seed_treatments.each do |seed_treatment| %>
      <% if seed_treatment.killed_on != nil %>
        <tr bgcolor="red">
      <% else %>
        <tr>
      <% end %>
        <td><%= seed_treatment.soak_start_datetime %></td>
        <td><%= seed_treatment.seed_crop %></td>
        <td><%= seed_treatment.seed_variety %></td>
        <td><%= seed_treatment.seed_brand %></td>
        <td><%= seed_treatment.seed_quantity_oz %></td>
        <td><%= seed_treatment.soak_solution %></td>
        <td><%= seed_treatment.soak_duration_hrs %></td>
        <td><%= seed_treatment.post_soak_treatment %></td>
        <td><%= seed_treatment.soak_notes %></td>
        <td><%= seed_treatment.germination_start_date %></td>
        <td><%= seed_treatment.germination_vehicle %></td>
        <td><%= seed_treatment.first_emerge_date %></td>
        <td><%= seed_treatment.full_emerge_date %></td>
        <td><%= seed_treatment.days_to_full_emergence %></td>
        <td><%= seed_treatment.emergence_notes %></td>
        <td><%= seed_treatment.killed_on %></td>
        <td><%= seed_treatment.planned_date_of_first_flat_sew %></td>
        <td><%= seed_treatment.date_of_first_flat_sew %></td>
        <td><%= seed_treatment.date_of_last_flat_sew %></td>
        <td><%= seed_treatment.destination_flat_ids %></td>
        <td>
          <table class='seed-flats-index-actions'>
            <tr align="center">
              <td>
                <%= link_to 'Sew Flat', seed_treatment, :class => "btn btn-outline-info sf-index-actions" %>
              </td>
              <td>
                <%= link_to 'Kill Seed Group', seed_treatments_kill_path(:controller => "seed_treatments", :action => "kill", :seed_group => seed_treatment), :class => "btn btn-outline-info sf-index-actions" %>
              </td>
              <td>
                
              </td>
            </tr>
            <tr align="center">
              <td>
                <%= link_to 'Show', seed_treatment, :class => "btn btn-outline-info sf-index-actions" %>
              </td>
              <td>
                <%= link_to 'Edit', edit_seed_treatment_path(seed_treatment), :class => "btn btn-outline-info sf-index-actions" %>    
              </td>
              <td>
                <%= link_to 'Destroy', seed_treatment, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-info sf-index-actions" %>    
              </td>
            </tr>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seed Treatment', new_seed_treatment_path %>
