<p id="notice"><%= notice %></p>

<p>
  <strong>Soak start datetime:</strong>
  <%= @seed_treatment.soak_start_datetime %>
</p>

<p>
  <strong>Seed crop:</strong>
  <%= @seed_treatment.seed_crop %>
</p>

<p>
  <strong>Seed variety:</strong>
  <%= @seed_treatment.seed_variety %>
</p>

<p>
  <strong>Seed brand:</strong>
  <%= @seed_treatment.seed_brand %>
</p>

<p>
  <strong>Seed quantity oz:</strong>
  <%= @seed_treatment.seed_quantity_oz %>
</p>

<p>
  <strong>Soak solution:</strong>
  <%= @seed_treatment.soak_solution %>
</p>

<p>
  <strong>Soak duration hrs:</strong>
  <%= @seed_treatment.soak_duration_hrs %>
</p>

<p>
  <strong>Post soak treatment:</strong>
  <%= @seed_treatment.post_soak_treatment %>
</p>

<p>
  <strong>Soak notes:</strong>
  <%= @seed_treatment.soak_notes %>
</p>

<p>
  <strong>Germination start date:</strong>
  <%= @seed_treatment.germination_start_date %>
</p>

<p>
  <strong>Germination vehicle:</strong>
  <%= @seed_treatment.germination_vehicle %>
</p>

<p>
  <strong>First emerge date:</strong>
  <%= @seed_treatment.first_emerge_date %>
</p>

<p>
  <strong>Full emerge date:</strong>
  <%= @seed_treatment.full_emerge_date %>
</p>

<p>
  <strong>Days to full emergence:</strong>
  <%= @seed_treatment.days_to_full_emergence %>
</p>

<p>
  <strong>Emergence notes:</strong>
  <%= @seed_treatment.emergence_notes %>
</p>

<p>
  <strong>Killed on:</strong>
  <%= @seed_treatment.killed_on %>
</p>

<p>
  <strong>Planned date of first flat sew:</strong>
  <%= @seed_treatment.planned_date_of_first_flat_sew %>
</p>

<p>
  <strong>Date of first flat sew:</strong>
  <%= @seed_treatment.date_of_first_flat_sew %>
</p>

<p>
  <strong>Date of last flat sew:</strong>
  <%= @seed_treatment.date_of_last_flat_sew %>
</p>

<p>
  <strong>Destination flat ids:</strong>
  <%= @seed_treatment.destination_flat_ids %>
</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs" style="margin-right:6px;">
      <%= link_to 'Edit', edit_seed_treatment_path(@seed_treatment), :class => "dropbtn btn btn-success" %>
    </div>
    <div class="col-xs" style="margin-right:6px;">
      <%= link_to 'Clone', seed_treatments_clone_path(:controller => "seed_treatments", :action => "clone", :seed_treatment => @seed_treatment.id), :class => "dropbtn btn btn-success" %>
    </div>
    <div class="col-xs" style="margin-right:6px;">
      <%= link_to 'Seed Treatments', seed_treatments_fresh_index_path, :class => "dropbtn btn btn-success" %>
    </div>
  </div>
</div>
