<p id="notice"><%= notice %></p>


  <div class="master-container" align="center" style="border:1px solid black; margin: 0px 33% 66px 33%; padding: 22px 22px 22px 22px;">
    <%= link_to 'back to treatments', seed_treatments_fresh_index_path, :class => "btn btn-primary btn-lg" %>
    <%= link_to 'back to soak list', lists_soak_path, :class => "btn btn-primary btn-lg" %>
  </div>

<div class="form-container">
  <p>
    <strong>Soak start datetime:</strong>
    <%= @seed_treatment.soak_start_datetime %>
  </p>

  <p>
    <strong>Crop:</strong>
    <%= link_to("#{Crop.where(id: @seed_treatment.crop_id)[0].crop} - #{Crop.where(id: @seed_treatment.crop_id)[0].crop_variety}", Crop.where(id: @seed_treatment.crop_id)[0]) %>
  </p>

  <p>
    <strong>Seed quantity oz:</strong>
    <%= @seed_treatment.seed_quantity_oz %>
  </p>

  <p>
    <strong>Soak solution:</strong>
    <%= @seed_treatment.soak_solution %>
  </p>

  <p>
    <strong>Soak duration hrs:</strong>
    <%= @seed_treatment.soak_duration_hrs %>
  </p>

  <p>
    <strong>Post soak treatment:</strong>
    <%= @seed_treatment.post_soak_treatment %>
  </p>

  <p>
    <strong>Soak notes:</strong>
    <%= @seed_treatment.soak_notes %>
  </p>

  <p>
    <strong>Germination start date:</strong>
    <%= @seed_treatment.germination_start_date %>
  </p>

  <p>
    <strong>Germination vehicle:</strong>
    <%= @seed_treatment.germination_vehicle %>
  </p>

  <p>
    <strong>First emerge date:</strong>
    <%= @seed_treatment.first_emerge_date %>
  </p>

  <p>
    <strong>Full emerge date:</strong>
    <%= @seed_treatment.full_emerge_date %>
  </p>

  <p>
    <strong>Days to full emergence:</strong>
    <%= @seed_treatment.days_to_full_emergence %>
  </p>

  <p>
    <strong>Emergence notes:</strong>
    <%= @seed_treatment.emergence_notes %>
  </p>

  <p>
    <strong>Killed on:</strong>
    <%= @seed_treatment.killed_on %>
  </p>

  <p>
    <strong>Planned date of first flat sew:</strong>
    <%= @seed_treatment.planned_date_of_first_flat_sew %>
  </p>

  <p>
    <strong>Date of first flat sew:</strong>
    <%= @seed_treatment.date_of_first_flat_sew %>
  </p>

  <p>
    <strong>Date of last flat sew:</strong>
    <%= @seed_treatment.date_of_last_flat_sew %>
  </p>

  <p>
    <strong>Destination flat ids:</strong>
    <%= @seed_treatment.destination_flat_ids %>
  </p>

  <p>
    <strong>Orders:</strong><br>
    <% @seed_treatment.order_ids.each{|id| %>
      <%= link_to "#{id} : #{Order.where(id: id)[0].qty_oz} oz #{Crop.where(id: Order.where(id: id)[0].crop_id)[0].crop} for #{Customer.where(id: Order.where(id: id)[0].customer_id)[0].name} (#{Order.where(id: id)[0].day_of_week})", Order.where(id: id)[0] %><br>
    <% } %>
  </p>

  <p>
    <strong>Orders:</strong><br>
    <% unless @seed_treatment.orders == nil %>
      <% @seed_treatment.orders.split(",").each{|id| %>
        <%= link_to "#{id} : #{Order.where(id: id)[0].qty_oz} oz #{Crop.where(id: Order.where(id: id)[0].crop_id)[0].crop} for #{Customer.where(id: Order.where(id: id)[0].customer_id)[0].name} (#{Order.where(id: id)[0].day_of_week})", Order.where(id: id)[0] %><br>
      <% } %>
    <% end %>  
  </p>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs" style="margin-right:6px;">
        <%= link_to 'Edit', edit_seed_treatment_path(@seed_treatment), :class => "dropbtn btn btn-success" %>
      </div>
      <div class="col-xs" style="margin-right:6px;">
        <%= link_to 'Sew Flat', seed_flats_new_treated_seed_flat_path(:controller => "seed_flats", :action => "new_treated_seed_flat", :seed_treatment => @seed_treatment), :class => "dropbtn btn btn-success" %>
      </div>
      <div class="col-xs" style="margin-right:6px;">
        <%= link_to 'Clone', seed_treatments_clone_path(:controller => "seed_treatments", :action => "clone", :seed_treatment => @seed_treatment.id), :class => "dropbtn btn btn-success" %>
      </div>
      <div class="col-xs" style="margin-right:6px;">
        <%= link_to 'Kill', seed_treatments_kill_path(:controller => "seed_treatments", :action => "kill", :seed_treatment => @seed_treatment), :class => "dropbtn btn btn-success" %>
      </div>
      <div class="col-xs" style="margin-right:6px;">
        <%= link_to 'Destroy', @seed_treatment, method: :delete, data: { confirm: 'Are you sure?' }, :class => "dropbtn btn btn-success" %>
      </div>
      <div class="col-xs" style="margin-right:6px;">
        <%= link_to 'Seed Treatments', seed_treatments_fresh_index_path, :class => "dropbtn btn btn-success" %>
      </div>
      
    </div>
  </div>
</div>