<h4 align="center">To harvest: <%= harvested_query.count %> of <%= to_harvest_query.count %> completed</h4>

<% to_harvest_query.order(completed_on: :desc).each{ |harvest_do| %>
	<% if harvest_do.completed_on == nil %>
		<%= link_to farm_ops_dos_mark_farm_ops_dos_done_path(:controller => "farm_ops_dos", :action => "mark_farm_ops_do_done", :do => harvest_do.id), :class => "btn btn-outline-primary btn-sm" do %>
			<span class="glyphicon glyphicon-unchecked"></span>
		<% end %>
		<%= harvest_do.qty %> <%= harvest_do.qty_units %> <%= Crop.where(id: harvest_do.crop_id)[0].crop %>, <%= Crop.where(id: harvest_do.crop_id)[0].crop_variety %><br>
	<% else %>
		<button type="button" class="btn btn-outline-dark btn-sm">
          <span class="glyphicon glyphicon-check"></span> 
      	</button><%= harvest_do.qty %> <%= harvest_do.qty_units %> 
      	<%= Crop.where(id: harvest_do.crop_id)[0].crop %>, <%= Crop.where(id: harvest_do.crop_id)[0].crop_variety %><br>
        
	<% end %>
<% } %>