
<br><br>

<br><br>
<br>

<h2 align="center">Back of Envelope</h2><br>

<table>
	<tr>
		<th style="padding-right: 22px; padding-left: 22px;">
			crop
		</th>
		<th style="padding-right: 22px; padding-left: 22px;">
			sample size (# flats)
		</th>
		<th style="padding-right: 22px; padding-left: 22px;">
			avg dth (days)
		</th>
		<th style="padding-right: 22px; padding-left: 22px;">
			avg yield (oz)
		</th>
	</tr>
	<% @crops.sort_by{|c| c }.each{|c| %>
	<tr>
		<% @crop_query = @harvested_flats.where(crop: c) %>
		<td style="padding-right: 6px; padding-left: 6px;">
			<%= c %>
		</td>
		<td style="padding-right: 6px; padding-left: 6px; text-align: center;">
			<%= @crop_query.count %>
		</td>
		<td style="padding-right: 6px; padding-left: 6px; text-align: center;">
			<%= @crop_query.to_a.map{|flat| (flat.harvested_on - flat.started_date).to_i }.inject{|dur,sum| dur+sum }/@crop_query.count %>
		</td>
		<td style="padding-right: 6px; padding-left: 6px; text-align: center;">
			<%= @crop_query.average(:harvest_weight_oz).round(2) %>
		</td>
	</tr>
	<% } %>
</table>

<br><br>
<h4>weekly totals</h4>
<% SeedFlat.where.not(harvest_weight_oz: nil).where.not(harvest_weight_oz: 0.0).group_by{|flat| flat.harvest_week}.sort_by{|week| week[0] }.each{|group| %>
	<p>
		week num <%= group[0] %>: <%= group[1].count %> flats harvested for <%= (group[1].map{|flat| flat.harvest_weight_oz}.reduce(:+) / 16).round(2) %> LBS

	</p>
<% } %>

<br><br>
<hr>
<br><br>
<h2 align="center">Crop Availability</h2><br>
<% @crops.sort_by{|c| c }.each{|c| %>
	<div style="border: solid 1px black;padding:22px;">
		<% @in_pipeline = SeedFlat.where(harvest_weight_oz: nil).where(harvested_on: nil).where(crop: c) %>
		<h3><strong><%= c %></strong> -- currently <%= @in_pipeline.count %> flats in pipeline</h3>
		<% @in_pipeline.group_by{|flat| flat.current_system_id }.each{|key,val| %>
			<%= System.where(id: key)[0].system_name %><br>
			<% val.sort_by{|flat| (Date.today - flat.started_date).to_i }.each{|flat| %>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= flat.flat_id %>: <%= (Date.today - flat.started_date).to_i %> day<br>
			<% } %>
		<% } %>
	</div>
<% } %>

<br><br>
<hr>
<br><br>


<h3 align="center">Custom Calculations / scratch</h3>


<br><br>
<hr>
<br><br>


<h3 align="center">Avg Yield Per Seed Weight</h3>
<%= @cilantro %>

<div id='chart'></div>
<%= render_chart(@columnchart, 'chart') %>

<br><br>
<br><br>
<hr>
<br><br>