<br><br>
<br>

<h2 align="center">Back of Envelope</h2>
<h3 align="center">Live Calculations</h3>

<h4>Avg Harvest Weight Per Flat</h4>
<p>Aggregate -- <%= @harvested_flats.count %> flats -- <%= @harvested_flats.average(:harvest_weight_oz) %> oz</p>
<% crops = ["broccoli","kale","spicy mix","radish","pea"] %>
<% crops = @harvested_flats.pluck(:crop).uniq %>

<% crops.each{ |crop| %>
	<% @crop_query = @harvested_flats.where(crop: crop) %>
	<p><%= crop %> -- <%= @crop_query.count %> flats -- <%= @crop_query.average(:harvest_weight_oz) %> oz</p>
<% } %>

<p><strong>~~~ begin manual analysis___</strong></p>
<p>
	Pea Shoots have gone through more recent experimentation than the others.<br>
	If we exclude flats of pea shoots where the harvest weight was under 1 oz, we get:<br>
	<% @weights = [] %>
	<% @harvested_flats.where(crop: "pea").pluck(:harvest_weight_oz).each{|pea_flat| %>
		<% next if pea_flat < 1 %>
		<% @weights << pea_flat %>
	<% } %>
	<%= @weights.inject{|weight, sum| weight + sum } / @weights.count %> oz
</p>
<p><strong>___end manual analysis~~~</strong></p>

<h4>Avg Days To Harvest Aggregate</h4>

<h4>Avg Days To Harvest Per Crop</h4>

<br><br>
<hr>
<br><br>

<h3 align="center">Custom Calculations</h3>
