
<br><br>

<br><br>
<br>

<h2 align="center">Back of Envelope</h2><br>
<h3 align="center">Live Calculations (March 3, 2018)</h3>

<h4>Avg Harvest Weight Per Flat</h4>
<p style="margin-left:11px;">Aggregate -- <%= @harvested_flats.count %> flats -- <%= @harvested_flats.average(:harvest_weight_oz) %> oz</p>
<% crops = ["broccoli","kale","spicy mix","radish","pea"] %>
<% crops = @harvested_flats.pluck(:crop).uniq %>

<% crops.each{ |crop| %>
	<% @crop_query = @harvested_flats.where(crop: crop) %>
	<p style="margin-left:11px;"><%= crop %> -- <%= @crop_query.count %> flats -- <%= @crop_query.average(:harvest_weight_oz) %> oz</p>
<% } %>

<p style="margin-left:44px;"><strong>~~~ begin manual analysis___</strong></p>
<p style="margin-left:44px;"><strong>___end manual analysis~~~</strong></p>
<br>
<h4>Avg Days To Harvest</h4>
<p>
	Aggregate -- <%= @harvested_flats.count %> flats -- <%= @harvested_flats.to_a.map{|flat| (flat.harvested_on - flat.started_date).to_i }.inject{|dur,sum| dur+sum }/@harvested_flats.count %> days
</p>
<p>
	<% @harvested_flats.to_a.group_by{|flat| flat.crop }.each{|group| %>
		<p>
			<%= group[0] %> -- <%= group[1].count %> flats -- <%= group[1].to_a.map{|flat| (flat.harvested_on - flat.started_date).to_i }.inject{|dur,sum| dur+sum }/group[1].to_a.count %> days
		</p>
	<% } %>
</p>

<br><br>
<h4>weekly totals</h4>
<% SeedFlat.where.not(harvest_weight_oz: nil).where.not(harvest_weight_oz: 0.0).group_by{|flat| flat.harvest_week}.sort_by{|week| week[0] }.each{|group| %>
	<p>
		week num <%= group[0] %>: <%= group[1].count %> flats harvested for <%= (group[1].map{|flat| flat.harvest_weight_oz}.reduce(:+) / 16).round(2) %> LBS

	</p>
<% } %>


<br><br>
<hr>
<br><br>

<h3 align="center">Custom Calculations / scratch</h3>

<br><br>
<br><br>
<hr>
<br><br>