<br><br><br><br><br><br><br><br>
<div class="container-fluid">
	<% @weeks.each{|week| %>
		<div class="row">
			<% week.each{|day| %>
				<div class="col cal-day">
					<% unless day == nil %>
						<% @query_date = day-15 %>
						<% @resp = SeedFlat.where(started_date: @query_date).where(harvest_weight_oz: nil) %>
						
						<% if day == Date.today %>
							<p align="center">
								<strong><%= day %></strong><br>
								<%= @resp.count %> flats for harvest
							</p>
						<% else %>
							<p align="center">
								<%= day %><br>
								<%= @resp.count %> flats for harvest
							</p>
						<% end %>
						<% @resp.each{|flat| %>
							<%= flat.flat_id %>: <%= flat.crop %><br>
						<% } %>
						<br>
					<% end %>



				</div>
			<% } %>
		</div>
	<% } %>
</div>

<br><br><hr><br><br>

<table>
		<tr>
			<th>
				sewn date
			</th>
			<th>
				flats
			</th>
			<th>
				expected harvest weight
			</th>
			<th>
				expected harvest date
			</th>
		</tr>
		<% @grouped_seed_flats.each{|date,flats| %>
		<tr>
			<td>
				<%= date %>		
			</td>
			<td>
				<%= flats.map{|f| f.crop }.join(", ") %>		
			</td>
			<td>
				<%= (flats.count*0.5).to_s+" LBS" %>		
			</td>
			<td>
				<%= date + 15 %>
			</td>
		</tr>
		<% } %>
	</table>

<br><br><hr><br><br>

<% @seed_flats.each{|flat| %>
	<p>
		<%= flat.started_date %>
		<%= flat.crop %> ~~~ will be ready on ~~~> 
		<%= flat.started_date + 15 %>
	</p>
<% } %>

<table>
	<tr>
		<td>
			
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>