<div class="container-fluid table-responsive">
	<div class="row">
		<div class="col-sm-2" style="font-weight: bold; text-align: center;" scope="col">
			Product
		</div>
		<div class="col-sm-1" style="font-weight: bold; text-align: center;" scope="col">
			Max Order
		</div>
		<div class="col-sm-1" style="font-weight: bold; text-align: center;" scope="col">
			OZ Price
		</div>
		<div class="col-sm-1" style="font-weight: bold; text-align: center;" scope="col">
			1/2 LB Price
		</div>
		<div class="col-sm-1" style="font-weight: bold; text-align: center;" scope="col">
			LB Price
		</div>
	</div>
	<% @available.each{|group| %>
		<div class="row">
			<div class="col-sm-2" scope="row">
				<% if Crop.where(id: group[0])[0].crop == "pea" or Crop.where(id: group[0])[0].crop == "sunflower" or Crop.where(id: group[0])[0].crop == "corn" %>
					<%= Crop.where(id: group[0])[0].crop %>, <%= Crop.where(id: group[0])[0].crop_variety %> (shoot)
				<% else %>
					<%= Crop.where(id: group[0])[0].crop %>, <%= Crop.where(id: group[0])[0].crop_variety %> (micro)
				<% end %>
			</div>
			<div class="col-sm-1" style="text-align: center;" scope="row">
				<%= group[1].count * @ref[group[0]][3]%> oz			
			</div>
			<div class="col-sm-1" style="text-align: center;" scope="row">
				<%= number_to_currency(Crop.where(id: group[0])[0].sale_price_per_oz) %>
			</div>
			<div class="col-sm-1" style="text-align: center;" scope="row">
				<%= number_to_currency(Crop.where(id: group[0])[0].sale_price_per_8oz) %>
			</div>
			<div class="col-sm-1" style="text-align: center;" scope="row">
				<%= number_to_currency(Crop.where(id: group[0])[0].sale_price_per_16oz) %>
			</div>
		</div>
	<% } %>	
</div>

