
<% 120.times do |i| %>
	<div style="border-top: solid black 2px;">
		<h2 align="center">
			<%= @today.strftime("%A, %B %d") %>
		</h2>
		<div align="center">
			<% @flat_harvest_days[@today].sort_by{|arr| arr[2]}.each{|arr| %>
				<% if arr[2] == "" %>
					<%= arr[0] %> | <%= arr[1] %><br>
				<% else %>
					<strong><%= arr[0] %> | <%= arr[1] %> for <%= arr[2] %></strong><br>
				<% end %>

				
			<% } %>
		</div>	

	<br/>	
	</div>
	<% @today += 1 %>
<% end %>