
<h1 align="center">
	Ops Calendar <%= @wtf %>
</h1>

<div class="container-fluid">
	<% @weeks.each{|week| %>
		<div class="row">
			<% week.each{|day| %>
				<% if day == Date.today %>
					<div class="col cal-day" style="background-color: #4cbb17;">
				<% else %>
					<div class="col cal-day">
				<% end %>
					<% unless day == nil %>
						<br>
						<% @seeds_treated = SeedTreatment.where(soak_start_date: day) %>			
						<p align="center">		
              
							<h3 align="center"><%= day.strftime("%a, %b %d") %></h3><br><hr>
							<% @cal_day_of_week = day.strftime("%A") %>
						</p>
						
						

						<h2 align="center">To Do</h2>
						<h4 align="center">To soak</h4>
						

						<h4 align="center">To sew</h4>


						<h4 align="center">To harvest</h4>


						<h1 align="center">***</h1>						
						
						<div class="container-fluid" style="background-color: #86c5da;"><br>
							<h2 align="center">Done</h2>
							
									
							<h4 align="center"><%= %> Seed Varieties Soaked</h4>

							
							<h4 align="center"><%=  %> Flats Sewn</h4>


							<h4 align="center"><%=  %> Flats Harvested</h4>

							
							<br>
						</div>
						<br>
					<% end %>

				</div>
			<% } %>
		</div>
	<% } %>
</div>