
<h1 align="center">
	Ops Calendar <%= @wtf %>
</h1>

<div class="container-fluid">
	<% @weeks.each{|week| %>
		<div class="row">
			<% week.each{|day| %>
				<% if day == Date.today %>
					<div class="col cal-day" style="background-color: #4cbb17;" id="today">
				<% else %>
					<div class="col cal-day">
				<% end %>
					<% unless day == nil %>
						<br>
						<% @seeds_treated = SeedTreatment.where(soak_start_date: day) %>			
						<p align="center">		
              
							<h3 align="center"><%= day.strftime("%a, %b %d") %></h3><br><hr>
							<% @cal_day_of_week = day.strftime("%A") %>
						</p>
						
						

						<h2 align="center">To Do</h2>
						

						<% to_do_query = FarmOpsDo.where(date: day).where.not(verb: "soak").where.not(verb: "rinse").where.not(verb: "sew soaked").where.not(verb: "sew").where.not(verb: "harvest").order(:completed_on).order(:crop_id) %>
						<% done_query = FarmOpsDo.where(date: day).where.not(verb: "soak").where.not(verb: "rinse").where.not(verb: "sew soaked").where.not(verb: "sew").where.not(verb: "harvest").where.not(completed_on: nil) %>
						<%= render partial: "dashboards/ops_calendar_partials/misc_to_dos", locals: {day: day, done_query: done_query, to_do_query: to_do_query} %>

						<% to_soak_query = FarmOpsDo.where(date: day).where(verb: "soak").order(:completed_on).order(:crop_id) %>
						<% done_soak_query = FarmOpsDo.where(date: day).where(verb: "soak").where.not(completed_on: nil) %>
						<%= render partial: "dashboards/ops_calendar_partials/soak_to_dos", locals: {day: day, done_soak_query: done_soak_query, to_soak_query: to_soak_query} %>

						<% to_rinse_query = FarmOpsDo.where(date: day).where(verb: "rinse").order(:completed_on).order(:crop_id) %>
						<% done_rinse_query = FarmOpsDo.where(date: day).where(verb: "rinse").where.not(completed_on: nil) %>
						<%= render partial: "dashboards/ops_calendar_partials/rinse_to_dos", locals: {day: day, done_rinse_query: done_rinse_query, to_rinse_query: to_rinse_query} %>

						<% to_sew_soaked_query = FarmOpsDo.where(date: day).where(verb: "sew soaked").order(:completed_on).order(:crop_id) %>
						<% done_sew_soaked_query = FarmOpsDo.where(date: day).where(verb: "sew soaked").where.not(completed_on: nil) %>
						<%= render partial: "dashboards/ops_calendar_partials/sew_soaked_to_dos", locals: {day: day, done_sew_soaked_query: done_sew_soaked_query, to_sew_soaked_query: to_sew_soaked_query} %>

						<% to_sew_query = FarmOpsDo.where(date: day).where(verb: "sew").order(:completed_on).order(:crop_id) %>
						<% done_sew_query = FarmOpsDo.where(date: day).where(verb: "sew").where.not(completed_on: nil) %>
						<%= render partial: "dashboards/ops_calendar_partials/sew_to_dos", locals: {day: day, done_sew_query: done_sew_query, to_sew_query: to_sew_query} %>

						<% if false %>
						<% to_harvest_query = FarmOpsDo.where(date: day).where(verb: "harvest").order(:completed_on).order(:crop_id) %>
						<% done_harvest_query = FarmOpsDo.where(date: day).where(verb: "harvest").where.not(completed_on: nil) %>
						<%= render partial: "dashboards/ops_calendar_partials/harvest_to_dos", locals: {day: day, done_harvest_query: done_harvest_query, to_harvest_query: to_harvest_query} %>
						<% end %>
						


						<h1 align="center">***</h1>						
						
						<div class="container-fluid" style="background-color: #86c5da;"><br>
							<h2 align="center">Done</h2>
							
									
							<% soaked_query = SeedTreatment.where(soak_start_date: day) %>
							<div data-toggle="collapse" data-target="#soaked-seeds-<%= day %>"><h4 align="center"><h4 align="center"><u><%= soaked_query.count %> Seed Varieties Soaked</u></h4>
								<% soaked_query.each{|treatment| %>
									<div id="soaked-seeds-<%= day %>" class="collapse">
										<%= link_to( "#{treatment.seed_quantity_oz}oz #{ Crop.where(id: treatment.crop_id)[0].crop}, #{Crop.where(id: treatment.crop_id)[0].crop_variety}", treatment )%>
									</div>
								<% } %>
							</div>	

							
							<% sewn_query = SeedFlat.where(started_date: day) %>
							<div data-toggle="collapse" data-target="#sewn-flats-<%= day %>"><h4 align="center"><u><%= sewn_query.count %> Flats Sewn</u></h4>
								<% sewn_query.each{|flat| %>	
									<div id="sewn-flats-<%= day %>" class="collapse">
										<%= link_to( "#{flat.flat_id}: #{ Crop.where(id: flat.crop_id)[0].crop}, #{Crop.where(id: flat.crop_id)[0].crop_variety}", flat )%><br>
									</div>	
								<% } %>
							</div>	


							<% harvested_query = SeedFlat.where(harvested_on: day) %>
							<div data-toggle="collapse" data-target="#harvested-flats-<%= day %>"><h4 align="center"><u><%= harvested_query.count %> Flats Harvested</u></h4>
								<% harvested_query.each{|flat| %>
									<% if flat.flat_id == nil %> 
										<div id="harvested-flats-<%= day %>" class="collapse">
											<%= link_to( "#{flat.former_flat_id}: #{ Crop.where(id: flat.crop_id)[0].crop}, #{Crop.where(id: flat.crop_id)[0].crop_variety}", flat )%><br>
										</div>	
									<% else %>
										<div id="harvested-flats-<%= day %>" class="collapse">
											<%= link_to( "#{flat.flat_id}: #{ Crop.where(id: flat.crop_id)[0].crop}, #{Crop.where(id: flat.crop_id)[0].crop_variety}", flat )%><br>
										</div>
									<% end %>
								<% } %>
							</div>	
							

							<br>
						</div>
						<br>
					<% end %>

				</div>
			<% } %>
		</div>
	<% } %>
</div>