
<h1 align="center">
	Ops Calendar <%= @wtf %>
</h1>

<div class="container-fluid">
	<% @weeks.each{|week| %>
		<div class="row">
			<% week.each{|day| %>
				<% if day == Date.today %>
					<div class="col cal-day" style="background-color: #4cbb17;">
				<% else %>
					<div class="col cal-day">
				<% end %>
					<% unless day == nil %>
						<br>
						<% @seeds_treated = SeedTreatment.where(soak_start_date: day) %>			
						<p align="center">		
              
							<h3 align="center"><%= day.strftime("%a, %b %d") %></h3><br><hr>
							<% @cal_day_of_week = day.strftime("%A") %>
						</p>
						
						

						<h2 align="center">To Do</h2>
						
						<% to_soak_query = FarmOpsDo.where(date: day).where(verb: "soak") %>
						<% soaked_query = SeedTreatment.where(soak_start_date: day) %>
						<h4 align="center">To soak: <%= soaked_query.count %> of <%= to_soak_query.count %> completed</h4>
						<% to_soak_query.order(completed_on: :desc).each{ |soak_do| %>
							<% if soak_do.completed_on == nil %>
								<%= link_to farm_ops_dos_mark_farm_ops_dos_done_path(:controller => "farm_ops_dos", :action => "mark_farm_ops_do_done", :do => soak_do.id), :class => "btn btn-outline-primary btn-sm" do %>
									<span class="glyphicon glyphicon-unchecked"></span> <%= soak_do.qty %> <%= soak_do.qty_units %> <%= Crop.where(id: soak_do.crop_id)[0].crop %>, <%= Crop.where(id: soak_do.crop_id)[0].crop_variety %>
								<% end %>
							<% else %>
								<button type="button" class="btn btn-outline-dark btn-sm">
						          <span class="glyphicon glyphicon-check"></span> <%= soak_do.qty %> <%= soak_do.qty_units %> <%= Crop.where(id: soak_do.crop_id)[0].crop %>, <%= Crop.where(id: soak_do.crop_id)[0].crop_variety %>
						        </button>
							<% end %>
						<% } %>


						<% to_sew_query = FarmOpsDo.where(date: day).where(verb: "sew") %>
						<% sewn_query = SeedFlat.where(started_date: day) %>
						<h4 align="center">To sew: <%= sewn_query.count %> of <%= to_sew_query.count %> completed</h4>
						<% to_sew_query.each{ |sew_do| %>
							<%= sew_do.qty %> <%= sew_do.qty_units %> <%= Crop.where(id: sew_do.crop_id)[0].crop %>, <%= Crop.where(id: sew_do.crop_id)[0].crop_variety %> for <%= sew_do.customer %><br>
						<% } %>

						<% to_harvest_query = FarmOpsDo.where(date: day).where(verb: "harvest") %>
						<% harvested_query = SeedFlat.where(harvested_on: day) %>
						<h4 align="center">To harvest: <%= harvested_query.count %> of <%= to_harvest_query.count %> completed</h4>
						<% to_harvest_query.each{ |harvest_do| %>
							<%= harvest_do.qty %> <%= harvest_do.qty_units %> <%= Crop.where(id: harvest_do.crop_id)[0].crop %>, <%= Crop.where(id: harvest_do.crop_id)[0].crop_variety %> for <%= harvest_do.customer %><br>
						<% } %>


						<h1 align="center">***</h1>						
						
						<div class="container-fluid" style="background-color: #86c5da;"><br>
							<h2 align="center">Done</h2>
							
									

							<div data-toggle="collapse" data-target="#soaked-seeds-<%= day %>"><h4 align="center"><h4 align="center"><u><%= soaked_query.count %> Seed Varieties Soaked</u></h4>
								<% soaked_query.each{|treatment| %>
									<div id="soaked-seeds-<%= day %>" class="collapse">
										<%= link_to( "#{treatment.seed_quantity_oz}oz #{ Crop.where(id: treatment.crop_id)[0].crop}, #{Crop.where(id: treatment.crop_id)[0].crop_variety}", treatment )%>
									</div>
								<% } %>
							</div>	

							
							
							<div data-toggle="collapse" data-target="#sewn-flats-<%= day %>"><h4 align="center"><u><%= sewn_query.count %> Flats Sewn</u></h4>
								<% sewn_query.each{|flat| %>	
									<div id="sewn-flats-<%= day %>" class="collapse">
										<%= link_to( "#{flat.flat_id}: #{ Crop.where(id: flat.crop_id)[0].crop}, #{Crop.where(id: flat.crop_id)[0].crop_variety}", flat )%><br>
									</div>	
								<% } %>
							</div>	


							
							<div data-toggle="collapse" data-target="#harvested-flats-<%= day %>"><h4 align="center"><u><%= harvested_query.count %> Flats Harvested</u></h4>
								<% harvested_query.each{|flat| %>
									<% if flat.flat_id == nil %> 
										<div id="harvested-flats-<%= day %>" class="collapse">
											<%= link_to( "#{flat.former_flat_id}: #{ Crop.where(id: flat.crop_id)[0].crop}, #{Crop.where(id: flat.crop_id)[0].crop_variety}", flat )%><br>
										</div>	
									<% else %>
										<div id="harvested-flats-<%= day %>" class="collapse">
											<%= link_to( "#{flat.flat_id}: #{ Crop.where(id: flat.crop_id)[0].crop}, #{Crop.where(id: flat.crop_id)[0].crop_variety}", flat )%><br>
										</div>
									<% end %>
								<% } %>
							</div>	
							

							<br>
						</div>
						<br>
					<% end %>

				</div>
			<% } %>
		</div>
	<% } %>
</div>