<%= form_tag bulk_actions_seed_flats_path, method: :put do %>
	<div align="center">
		<table class="pipeline-table">
			<thead>
				<tr>
					<th style="padding:12px;">
						<div align="center">
							<h4 align="center" style="border-bottom: solid black 1px;">
								Jump To... 
								<% @rooms.each{|room| %>
									* <%= link_to "#{room.name}", "/dashboards/pipeline/##{room.name.gsub(" ","-")}" %> &nbsp 
								<% } %>
								  | &nbsp; 
								Go To... &nbsp; * <%= link_to "Page Pipeline", "/dashboards/page_pipeline" %> &nbsp; * <%= link_to "Warehouse Pipeline", "/dashboards/warehouse_pipeline" %><br><br>
							</h4>
							<h3>Bulk Actions</h3>
							<%= submit_tag "Mark First Emerged", class: "btn btn-secondary" %> &nbsp; 
							<%= submit_tag "Mark Full Emerged", class: "btn btn-secondary"  %> &nbsp; 
							<%= submit_tag "Mark Cascade Full Emerged", class: "btn btn-secondary" %> &nbsp; 
							<%= submit_tag "Kill", class: "btn btn-secondary"  %> &nbsp; 
							<%= submit_tag "Transplant To DIL", class: "btn btn-secondary"  %> &nbsp;
							<%= submit_tag "Transplant To MIA", class: "btn btn-secondary"  %> &nbsp; 
							<br><br>
						</div>
					</th>
				<tr>
			</thead>	
				<td>
					<%= render "pipeline_cards" %>
				</td>
			</tr>
		</table>
	</div>
<% end %>

<br><br>