<div style="padding-left: 22px;">
	<h3>Jump To...</h3>
	<p>
		<% Room.all.each{|room| %>
			* <%= link_to "#{room.name}", "/dashboards/pipeline_draft/##{room.name.gsub(" ","-")}" %>
			<br>
		<% } %>
	</p>
	<br><br><br><hr><br><br><br>

	<% Room.all.each{|room| %>
		<div id=<%= room.name.gsub(" ","-") %>>
			<h3><%= room.name %></h3>
			<% room.systems.each{|system| %>
				<h4><%= system.system_name %></h4>
				<%= SeedFlat.where()%>
			<% } %>
			
			<br><br>
			<hr>
		</div>
	<% } %>
</div>