<div style="padding-left: 22px;">
	<h2>Jump To...</h2>
	<p>
		<% Room.all.each{|room| %>
			* <%= link_to "#{room.name}", "/dashboards/pipeline_draft/##{room.name.gsub(" ","-")}" %>
			<br>
		<% } %>
	</p>
	<br><br><br><hr><br><br><br>

	<% Room.all.each{|room| %>
		<div id=<%= room.name.gsub(" ","-") %>>
			<h2 align="center"><%= room.name %></h2>
			<% room.systems.each{|system| %>
				<h3 align="center"><strong><u><%= system.system_name %></u></strong></h3>
				<% @system_flats = SeedFlat.where(current_system_id: system.id) %>
				<% @system_flats.to_a.in_groups_of(4).each{ |shelf| %>
					<div class="row" style="margin-left:20%;">
						<% shelf.each{ |tray| %>
							<div class="col-sm-2" align="center" style="padding:0px;">
								<div class="card">
									<% unless tray == nil %>
										<h3 class="card-header"><%= link_to tray.flat_id, tray %></h3>
										<p class="card-text">
											<%= (Date.today-tray.started_date).to_i %>-day <strong><%= tray.crop_variety %> <%= tray.crop %></strong><br/>
											<%= tray.seed_weight %> oz seed sewn on <%= tray.started_date %><br/>

											<% if tray.first_emerge_date == nil %>
							                	<%= link_to 'Clone', seed_flats_copy_path(:controller => "seed_flats", :action => "copy", :old_seed_flat => tray.id), :class => "btn btn-outline-info sf-index-actions" %>
							                	<%= link_to '1st Emerge', seed_flats_first_emerge_path(:controller => "seed_flats", :action => "first_emerge", :flat => tray.id), :class => "btn btn-outline-info sf-index-actions" %>  
							                <% elsif tray.full_emerge_date == nil%>
							                	<%= link_to 'Full Emerge', seed_flats_full_emerge_path(:controller => "seed_flats", :action => "full_emerge", :flat => tray.id), :class => "btn btn-outline-info sf-index-actions" %>
							                <% elsif @propagation_system_ids.include?(tray.current_system_id) %>
							                	<%= link_to 'transplant', seed_flat_updates_transplant_path(:controller => "seed_flat_updates", :action => "transplant", :flat => tray.id), :class => "btn btn-outline-info sf-index-actions" %>
							                <% else %>
							                	<%= link_to 'transplant', seed_flat_updates_transplant_path(:controller => "seed_flat_updates", :action => "transplant", :flat => tray.id), :class => "btn btn-outline-info sf-index-actions" %>
							                	<%= link_to 'Harvest', seed_flats_harvest_path(:controller => "seed_flats", :action => "harvest", :flat => tray.id), :class => "btn btn-outline-info sf-index-actions" %>
							                <% end %>
										</p>
									<% end %>
								</div>
							</div>
						<% } %>
					</div>
				<% } %>
			<% } %>
			
			<br><br>
			<hr>
		</div>
	<% } %>
</div>