<%= form_tag bulk_actions_seed_flats_path, method: :put do %>
	<div align="center">
		<table class="pipeline-table">
			<thead>
				<tr>
					<th style="padding:12px;">
						<div align="center">
							<h4 align="center" style="border-bottom: solid black 1px;">
								Jump To... 
								<% @rooms.each{|room| %>
									* <%= link_to "#{room.name}", "/dashboards/pipeline/##{room.name.gsub(" ","-")}" %> &nbsp 
								<% } %>
								  | &nbsp; 
								Go To... &nbsp; * <%= link_to "Page Pipeline", "/dashboards/page_pipeline" %> &nbsp; * <%= link_to "Warehouse Pipeline", "/dashboards/warehouse_pipeline" %><br><br>
							</h4>
							<h3>Bulk Actions</h3>
							<%= submit_tag "Mark First Emerged", class: "btn btn-success" %> &nbsp; 
							<%= submit_tag "Mark Full Emerged", class: "btn btn-success"  %> &nbsp; 
							<%= submit_tag "Mark Cascade Full Emerged", class: "btn btn-success" %> &nbsp; 
							<%= submit_tag "Kill", class: "btn btn-success"  %> &nbsp;
							<div class="dropdown">
			  					<button class="dropbtn btn btn-success dropdown-toggle">Transplant to...</button>
			  					<div class="dropdown-content">
			    					<% System.where(room_id: 2).where(retired: false).where.not(system_name: "1. propagation").where.not(system_name: "propagation").order(:system_name).each{|system| %>
			    						<%= submit_tag "~>#{system.system_name}", class: "navbar-dropdown btn btn-success", style: "margin:6px; width:222px;" %>	
			    					<% } %>
								</div>
							</div>
						</div>	
					</th>
				<tr>
			</thead>	
				<td>
					<%= render "pipeline_cards" %>
				</td>
			</tr>
		</table>
	</div>
<% end %>

<br><br>