

<h3>Propagation</h3>

	<% @propagation_shelf.to_a.in_groups_of(4).each{ |shelf| %>
		<div class="row m-t-md">
			<% shelf.each{ |tray| %>
				
				
					<div class = "col-sm-3 " >
						
					<% unless tray == nil %>
						<div class="card" >
  							
    							<h3 class="card-header">id: <%= tray.flat_id %><br/></h3>
    									<p class="card-text">
    										<% if tray.crop == "spicy mix" %>
												<%= tray.crop %><br/>
												<%= tray.crop_variety %><br/>
											<% else %>
												<%= tray.crop_variety %> <%= tray.crop %><br/>
											<% end %>
											sewn on <%= tray.started_date %> <br/>
											expected next transplant on <%= tray.started_date+10 %>
					


    										</p>
    
  											
												</div>
						
				<br>		
				</div>

				<% end %>
				
				
			<% } %>
		</div>
	<% } %>



<h3>Sue Shelf</h3>

	<% @sue_shelf.to_a.in_groups_of(4).each{ |shelf| %>
		<div class="row m-t-md">
			<% shelf.each{ |tray| %>

				<div class = "col-sm-3 " >

					<% unless tray == nil %>

						<div class="card" >

						<h3 class="card-header">id: <%= tray.flat_id %><br/></h3>
						<p class="card-text">
						<% if tray.crop == "spicy mix" %>
							<%= tray.crop %><br/>
							<%= tray.crop_variety %><br/>
						<% else %>
							<%= tray.crop_variety %> <%= tray.crop %><br/>
						<% end %>
						sewn on <%= tray.started_date %> <br/>
						expected next transplant on <%= tray.started_date+10 %>
					

						</p>
					</div>	
					<br>

					</div>

					<% end %>
				
			<% } %>
		</div>
	<% } %>



<h3>David Shelf</h3>

	<% @david_shelf.to_a.in_groups_of(4).each{ |shelf| %>
		<div class="row m-t-md">
			<% shelf.each{ |tray| %>

				<% if tray == nil %>

					<div class = "col-sm-3 " >
						
					</div>
				<% elsif (Date.today - tray.started_date).to_i > 14 %>
					<div class = "col-sm-3 " >

						<div class="card" style="background-color:green;">

						<h3 class="card-header">id: <%= tray.flat_id %><br/></h3>
						<p class="card-text">
						<% if tray.crop == "spicy mix" %>
							<%= tray.crop %><br/>
							<%= tray.crop_variety %><br/>
						<% else %>
							<%= tray.crop_variety %> <%= tray.crop %><br/>
						<% end %>
						sewn on <%= tray.started_date %> <br/>
						expected next transplant on <%= tray.started_date+10 %>
					</p>
					</div>
					</div>
				<% else %>	
					<div class = "col-sm-3 " >

						<div class="card" >
						<h3 class="card-header">id: <%= tray.flat_id %><br/></h3>
						<p class="card-text">
						<% if tray.crop == "spicy mix" %>
							<%= tray.crop %><br/>
							<%= tray.crop_variety %><br/>
						<% else %>
							<%= tray.crop_variety %> <%= tray.crop %><br/>
						<% end %>
						sewn on <%= tray.started_date %> <br/>
						expected next transplant on <%= tray.started_date+10 %>
					</p>
					</div>

					</div>


				<% end %>	
			<% } %>
		</div>
		<br>
	<% } %>



<h3>Live Storage</h3>

	<% @live_storage_shelf.to_a.reject{|tray| tray.harvest_notes.include?("DONE") }.in_groups_of(4).each{ |shelf| %>
		<div class="row m-t-md">
			<% shelf.each{ |tray| %>
				<% if tray == nil %>
					<div class = "col-sm-3 " >
						
					</div>
				<% elsif (Date.today - tray.started_date).to_i > 14 %>
					<div class = "col-sm-3 " >
						<div class="card" style="background-color:green;">
						<h3 class="card-header">
						id: 
<<<<<<< HEAD
						<% if tray.flat_id == nil  %>
							<% @eq_sign = tray.harvest_notes.index("=")-1 %></h3>
							<%= tray.harvest_notes[1..@eq_sign] %>
						<% else %>
							<%= tray.flat_id %></h3>
						<% end %>
						<p class="card-text">
=======

							<%= tray.flat_id %>
						
						<br/>
>>>>>>> 4cddf26b7833f0b64ea255ba8ca739f63cf636b5
						<% if tray.crop == "spicy mix" %>
							<%= tray.crop %><br/>
							<%= tray.crop_variety %><br/>
						<% else %>
							<%= tray.crop_variety %> <%= tray.crop %><br/>
						<% end %>
						sewn on <%= tray.started_date %> <br/>
						expected next transplant on <%= tray.started_date+10 %>
					</p>
					</div>
				</div>
				<% else %>	
<<<<<<< HEAD
					<div class = "col-sm-3 " >
						<div class="card" >
						<h3 class="card-header">id: 
						<% if tray.flat_id == nil  %>
							<% @eq_sign = tray.harvest_notes.index("=")-1 %>
							<%= tray.harvest_notes[1..@eq_sign] %></h3>
						<% else %>
							<%= tray.flat_id %></h3>
						<% end %>
						<p class="card-text">
=======
					<td align="center">
						id: 
						
							<%= tray.flat_id %>
						
						<br/>
>>>>>>> 4cddf26b7833f0b64ea255ba8ca739f63cf636b5
						<% if tray.crop == "spicy mix" %>
							<%= tray.crop %><br/>
							<%= tray.crop_variety %><br/>
						<% else %>
							<%= tray.crop_variety %> <%= tray.crop %><br/>
						<% end %>
						sewn on <%= tray.started_date %> <br/>
						expected next transplant on <%= tray.started_date+10 %>
					</p>
					</div>
				</div>

				<% end %>

			<% } %>
	
		</div>
<br>
	<% } %>
