<div style="padding:22px;">
	<h1>soak</h1>
	<% OpsCal.days_ref.each{|day| %>
		<% day_dos = @to_soak.select{|hsh| hsh[:date].strftime("%A") == day } %>
		<% next if day_dos.count == 0 %>
		<h2>
			<%= day %>
		</h2>
		<ul>
			<% day_dos.each{|hsh| %>
				<li>
					<%= hsh[:verb] %> <%= hsh[:qty].round(2) %><%= hsh[:qty_units] %> <%= Crop.where(id: hsh[:crop_id])[0].crop_variety %>, <%= Crop.where(id: hsh[:crop_id])[0].crop.capitalize %>
				</li>
			<% } %>
		</ul>
	<% } %>

	<h1>sew</h1>
	<% OpsCal.days_ref.each{|day| %>
		<% day_dos = @to_sew.select{|hsh| hsh[:date].strftime("%A") == day } %>
		<% next if day_dos.count == 0 %>
		<h2>
			<%= day %>
		</h2>
		<ul>
			<% day_dos.each{|hsh| %>
				<li>
					<%= hsh[:verb] %> <%= hsh[:qty].round(2) %> <%= hsh[:qty_units] %> <%= Crop.where(id: hsh[:crop_id])[0].crop_variety %>, <%= Crop.where(id: hsh[:crop_id])[0].crop.capitalize %>
				</li>
			<% } %>
		</ul>
	<% } %>
</div>









<% if false %>
<br><hr><br>
<table style="margin-left:22px;">
	<% @orders.order(:day_of_week).order(:customer_id).each{|order| %>
		<% next if Crop.where(id: order.crop_id)[0].ideal_treatment_days == 0 %>
		<tr>
			<td>
				<%= Customer.where(id: order.customer_id)[0].name %> | <%= order.day_of_week %> | <%= order.qty_oz %> oz <%= Crop.where(id: order.crop_id)[0].crop_variety %> <%= Crop.where(id: order.crop_id)[0].crop.capitalize %>
			</td>
			<td>
				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; soak <%= OpsCal.soak_quantity(Crop.where(id: order.crop_id)[0],order).round(2) %> oz every <%= OpsCal.get_action_day(Crop.where(id: order.crop_id)[0],order) %>
			</td>
		</tr>
	<% } %>
</table>


<br><br>
<hr>
<br><br>

<h2>soak</h2>
<table style="margin-left:22px;">
	<% @orders.order(:day_of_week).order(:customer_id).each{|order| %>
		<% next if Crop.where(id: order.crop_id)[0].ideal_treatment_days == 0 %>
		<tr>
			<td>
				<%= Customer.where(id: order.customer_id)[0].name %> | <%= order.day_of_week %> | <%= order.qty_oz %> oz <%= Crop.where(id: order.crop_id)[0].crop_variety %> <%= Crop.where(id: order.crop_id)[0].crop.capitalize %>
			</td>
			<td>
				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; soak <%= OpsCal.soak_quantity(Crop.where(id: order.crop_id)[0],order).round(2) %> oz every <%= OpsCal.get_action_day(Crop.where(id: order.crop_id)[0],order) %>
			</td>
		</tr>
	<% } %>
</table>
<br><br>
<h2>sew</h2>
<table style="margin-left:22px;">
	<% @orders.order(:day_of_week).order(:customer_id).each{|order| %>
		<% next if Crop.where(id: order.crop_id)[0].ideal_treatment_days != 0 %>
		<tr>
			<td>
				<%= Customer.where(id: order.customer_id)[0].name %> | <%= order.day_of_week %> | <%= order.qty_oz %> oz <%= Crop.where(id: order.crop_id)[0].crop_variety %> <%= Crop.where(id: order.crop_id)[0].crop.capitalize %>
			</td>
			<td>
				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; sew <%= OpsCal.sew_quantity(Crop.where(id: order.crop_id)[0],order) %> flats every <%= OpsCal.get_action_day(Crop.where(id: order.crop_id)[0],order) %>
			</td>
		</tr>
	<% } %>
</table>
<br><br>
<h2>harvest</h2>
<table style="margin-left:22px;">
	<% @orders.order(:day_of_week).order(:customer_id).each{|order| %>
		<tr>
			<td>
				<%= Customer.where(id: order.customer_id)[0].name %> | <%= order.day_of_week %> | <%= order.qty_oz %> oz <%= Crop.where(id: order.crop_id)[0].crop_variety %> <%= Crop.where(id: order.crop_id)[0].crop.capitalize %>
			</td>
			<td>
				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; harvest <%= order.qty_oz %> oz every <%= order.day_of_week %>
			</td>
		</tr>
	<% } %>
</table>

<% end %>









<br><br>
<h1 align="center">
	sked
</h1>
<br>
<div class="container-fluid">
	<% @weeks.each{|week| %>
		<div class="row">
			<% week.each{|day| %>
				<% if day == Date.today %>
					<div class="col cal-day" style="background-color: #4cbb17;">
				<% else %>
					<div class="col cal-day">
				<% end %>
					<% unless day == nil %>
						<h2 align="center">		
							<strong><%= day.strftime("%a, %b %d") %></strong><br><hr>
						</h2>

						<h3 align="center">Soak</h3>
						<div>
							<% @to_soak.select{|soak_hsh| soak_hsh[:date] == day }.each{|soak_hsh| %>
								<%= soak_hsh %>
								<%= soak_hsh[:qty] %><%= soak_hsh[:qty_units] %> <%= Crop.where(id: soak_hsh[:crop_id])[0].crop_variety %> <%= Crop.where(id: soak_hsh[:crop_id])[0].crop.capitalize %><br><br><br>
							<% } %>
						</div>

						<h3 align="center">Sew</h3>
						<div>
							
						</div>
					<% end %>
				</div>
			<% } %>
		</div>
	<% } %>
</div>