<p id="notice"><%= notice %></p>

<h1>Reservoirs</h1>

<table class="index-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Size liters</th>
      <th>Brand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservoirs.each do |reservoir| %>
      <tr>
        <td><%= reservoir.name %></td>
        <td><%= reservoir.size_liters %></td>
        <td><%= reservoir.brand %></td>
        <td><%= link_to 'Show', reservoir %></td>
        <td><%= link_to 'Edit', edit_reservoir_path(reservoir) %></td>
        <td><%= link_to 'Destroy', reservoir, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservoir', new_reservoir_path %>
