

<p id="notice"><%= notice %></p>

<div align="center">
<h1>Systems</h1>
<%= link_to 'New System', new_system_path, :class => "btn btn-primary" %>
</div>

<table class="index-table">
  <thead>
    <tr>
      <th>Name</th>      
      <th>Room</th>
      <th>Build date</th>
      <th>System type</th>
      <th>System dimensions</th>
      <th>Levels</th>
      <th>Flat Slots</th>
      <th>Lights</th>
      <th>Pumps</th>
      <th>Pump Time</th>
      <th>Retired On</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @systems.each do |system| %>
      <tr>
        <td><h3><%= link_to system.system_name, system %></h3></td>
        <td><%= link_to "#{system.room.name} - #{system.room.location}", system.room %></td>
        <td><%= system.build_date %></td>
        <td><%= system.system_type %></td>
        <td><%= system.system_dimensions %></td>
        <td><%= system.levels %></td>
        <td><%= system.flat_slots %></td>
        <td><%= system.lights %></td>
        <td><%= system.pumps %></td>
        <td><%= system.pump_time %></td>
        <td><%= system.retired_on %></td>
        <td><%= system.notes %></td>
        <td><%= link_to "clone", systems_copy_path(old_system: system), class: "btn btn-primary", style: "margin:8px;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

