<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= link_to "#{@system.room.name} - #{@system.room.location} @ #{@system.room.address}", @system.room %>
</p>

<p>
  <strong>System Name</strong>
  <%= @system.system_name %>
</p>

<p>
  <strong>Build date:</strong>
  <%= @system.build_date %>
</p>

<p>
  <strong>System type:</strong>
  <%= @system.system_type %>
</p>

<p>
  <strong>System dimensions:</strong>
  <%= @system.system_dimensions %>
</p>

<p>
  <strong>Levels:</strong>
  <%= @system.levels %>
</p>

<p>
  <strong>Flat Slots:</strong>
  <%= @system.flat_slots %>
</p>

<p>
  <strong>Lights:</strong>
  <%= @system.lights %>
</p>

<p>
  <strong>Pumps:</strong>
  <%= @system.pumps %>
</p>

<p>
  <strong>Pump Time:</strong>
  <%= @system.pump_time %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @system.notes %>
</p>

<p>
  <strong>Retired?:</strong>
  <%= @system.retired %>
</p>
<p>
  <strong>Retired On:</strong>
  <%= @system.retired_on %>
</p>

<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
