<%= form_with(model: farm_ops_do, local: true) do |form| %>
  <% if farm_ops_do.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(farm_ops_do.errors.count, "error") %> prohibited this farm_ops_do from being saved:</h2>

      <ul>
      <% farm_ops_do.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :verb %>
    <%= form.select :verb, ["soak","rinse","sew","harvest","other"], include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :verb %>
    <%= form.text_field :verb %>
  </div>  

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :farm_ops_do_date %>
  </div>

  <div class="field">
    <%= form.label :crop_id %>
    <%= form.select :crop_id, Crop.all.collect{|crop| ["#{crop.crop} - #{crop.crop_variety}", crop.id ]}, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :qty %>
    <%= form.number_field :qty, class: :text_field, step: :any %>
  </div>

  <div class="field">
    <%= form.label :qty_units %>
    <%= form.text_field :qty_units, id: :qty_units %>
  </div>

  <div class="field">
    <%= form.label :customer %>
    <%= form.text_field :customer, id: :farm_ops_do_customer %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.select :order_id, Order.all.collect{|order| ["#{order.day_of_week} for #{order.customer}: #{order.qty_oz}oz #{Crop.where(id: order.crop_id)[0].crop} " , order.id] }, include_blank: true %>
  </div>
  <div class="field">
    <%= form.label :treatment_id %>
    <%= form.select :treatment_id, SeedTreatment.all.collect{|treatment| ["#{Crop.where(id: treatment.crop_id)[0].crop}, #{Crop.where(id: treatment.crop_id)[0].crop_variety} soaked on #{treatment.soak_start_date} " , treatment.id] }, include_blank: true %>
  </div>  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
