<p id="notice"><%= notice %></p>

<h1 style="margin-left:22px;">
  Farm Ops Dos<br>
  <%= link_to "New ToDo", new_farm_ops_do_path, :class=>"btn btn-success" %>
</h1>

<table class="index-table">
  <thead>
    <tr>
      <th>Done?</th>
      <th>Date</th>
      <th>Verb</th>
      <th>qty</th>
      <th>units</th>
      <th>Crop</th>
      <th>Customer</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farm_ops_dos.reverse.each do |farm_ops_do| %>
      <% if farm_ops_do.completed_on == nil %>
        <tr>
      <% else %>
        <tr style="background-color: #74b566;">
      <% end %>
        <td>
          <% if farm_ops_do.completed_on == nil %>
            <span class="glyphicon glyphicon-unchecked"></span> 
          <% else %>
            <span class="glyphicon glyphicon-check"></span> 
          <% end %>
        </td>
        <td><%= farm_ops_do.date %></td>
        <td><%= farm_ops_do.verb %></td>
        <td><%= farm_ops_do.qty %></td>
        <td><%= farm_ops_do.qty_units %></td>
        <td>
          <% unless farm_ops_do.crop_id == nil %>
            <%= Crop.where(id: farm_ops_do.crop_id)[0].crop %>, <%= Crop.where(id: farm_ops_do.crop_id)[0].crop_variety %>
          <% end %>
        </td>
        <td><%= farm_ops_do.customer %></td>
        <td>
          <% if farm_ops_do.order_id == nil %>
            <%= farm_ops_do.order_id %>
          <% else %>
            <%= link_to "#{Order.where(id: farm_ops_do.order_id)[0].day_of_week} for #{Order.where(id: farm_ops_do.order_id)[0].customer}: #{Order.where(id: farm_ops_do.order_id)[0].qty_oz}oz #{Crop.where(id: Order.where(id: farm_ops_do.order_id)[0].crop_id)[0].crop} ", Order.where(id: farm_ops_do.order_id)[0] %>
          <% end %>
          
        </td>
        <td><%= link_to 'Show', farm_ops_do %></td>
        <td><%= link_to 'Edit', edit_farm_ops_do_path(farm_ops_do) %></td>
        <td><%= link_to 'Destroy', farm_ops_do, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Farm Ops Do', new_farm_ops_do_path %>
