<p id="notice"><%= notice %></p>

<p>
  <strong>Seed flat:</strong>
  <%= link_to "#{SeedFlat.where(id: @seed_flat_update.seed_flat)[0].flat_id}, #{SeedFlat.where(id: @seed_flat_update.seed_flat)[0].crop} from #{SeedFlat.where(id: @seed_flat_update.seed_flat)[0].started_date}", SeedFlat.where(id: @seed_flat_update.seed_flat)[0]  %>
</p>

<p>
  <strong>Update type:</strong>
  <%= @seed_flat_update.update_type %>
</p>

<p>
  <strong>Update datetime:</strong>
  <%= @seed_flat_update.update_datetime %>
</p>

<p>
  <strong>Origin system:</strong>
  <%= link_to "#{@seed_flat_update.origin_system_id} - #{System.where(id: @seed_flat_update.origin_system_id)[0].system_name}", System.where(id: @seed_flat_update.origin_system_id)[0]  %>
</p>

<p>
  <strong>Destination system:</strong>
  <%= link_to "#{@seed_flat_update.destination_system_id} - #{System.where(id: @seed_flat_update.destination_system_id)[0].system_name}", System.where(id: @seed_flat_update.destination_system_id)[0]  %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @seed_flat_update.notes %>
</p>

<%= link_to 'Edit', edit_seed_flat_update_path(@seed_flat_update) %> |
<%= link_to 'Back', seed_flat_updates_path %>
