<!-- Navigation -->
<div class="container-fluid nav">

	<div class="row justify-content-around">
		<div class="col" style="padding-left: 44px;">
			
		</div>
		<div class="col">
			<%= link_to "Crop Availability", tools_new_crop_avail_path, data: { keybinding: '/' }, :class=>"nav-btn btn btn-success" %>
		</div>

		<div class="col">
			<%= link_to "Ops Ref", crops_crop_ref_path, :class=>"nav-btn btn btn-success" %>
		</div>	

		<div class="col">
			<%= link_to "Treatments", seed_treatments_fresh_index_path, data: { keybinding: 't' }, :class=>"nav-btn btn btn-success" %>
		</div>

		<div class="col">
			<div class="dropdown">
			  <button class="nav-btn btn btn-success dropdown-toggle">Lists</button>
			  <div class="dropdown-content">
			    <%= link_to "soak list", "/calendars/soak", :method => :get, data: { keybinding: 's k' }, :class => "navbar-dropdown" %>
			    <%= link_to "new sew list", "/calendars/sew", :method => :get, data: { keybinding: 's w' }, :class => "navbar-dropdown" %>
			    <%= link_to "old sew list", "/calendars/old_sew", :method => :get, data: { keybinding: 's w' }, :class => "navbar-dropdown" %>
			    <%= link_to "check sew list", "/calendars/check_sew_list", :method => :get, data: { keybinding: 's w' }, :class => "navbar-dropdown" %>
			    <%= link_to "harvest list", "/lists/harvest", :method => :get, :class => "navbar-dropdown" %>
			  </div>
			</div>
		</div>

		<div class="col">
			<%= link_to '+ Seed Treatment', new_seed_treatment_path, :class => "nav-btn btn btn-info" %>
		</div>			
		<div class="col">
			<%= link_to '+ Seed Flat', new_seed_flat_path, :class => "nav-btn btn btn-info" %>
		</div>
		
		<div class="col">
			<%= link_to "Customers", "/customers", :method => :get, data: { keybinding: 'c' }, :class => "nav-btn btn btn-primary" %>
		</div>

		<div class="col">
			<%= link_to "Active Orders", "/orders/current_index", :method => :get, :class => "nav-btn btn btn-primary" %>
		</div>

		<div class="col">
			<%= link_to "Anticipated Harvest Dates", "/dashboards/harvest_calendar", :method => :get, :class => "nav-btn btn btn-primary" %>
		</div>

		<div class="col">
			<%= link_to 'Nonallocated Flats', dashboards_overgrow_path, :class => "nav-btn btn btn-primary" %>
		</div>

		<div class="col">
			<%= link_to 'OverGrow', over_grow_recipients_path, :class => "nav-btn btn btn-primary" %>
		</div>

		<div class="col">
			<div class="dropdown">
			  <button class="nav-btn btn btn-dark dropdown-toggle">Pipeline</button>
			  <div class="dropdown-content">
			    <%= link_to "Old Crop Avail", tools_crop_availability_path, data: { keybinding: '?' }, :class=>"navbar-dropdown" %>
			    <%= link_to "Pipeline View", "/dashboards/pipeline", :method => :get, data: { keybinding: 'p' }, :class=>"navbar-dropdown" %>
			    <br>
			    <%= link_to "Rooms", "/rooms", :method => :get, :class => "navbar-dropdown" %>
				<%= link_to "Systems", "/systems", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Reservoirs", "/reservoirs", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Nutrient Solutions", "/nutrient_solutions", :method => :get, :class => "navbar-dropdown" %>
			    <br>
			    <%= link_to "Live Flats", "/seed_flats/live_index", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Harvested Flats", "/seed_flats/harvested_index", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "All Flats", "/seed_flats/basic_index", :method => :get, :class => "navbar-dropdown" %>
			  </div>
			</div>		
		</div>

		<div class="col">
			<div class="dropdown">
			  <button class="nav-btn btn btn-dark dropdown-toggle">Data</button>
			  <div class="dropdown-content">
			    <%= link_to "Aggregates", "/dashboards/aggregates", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Averages", "/dashboards/averages", :method => :get, :class => "navbar-dropdown" %>
			    <br>
			    <%= link_to "Yield / Soak Duration", "/dashboards/yield_per_soak_duration", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Yield / Seed Weight", "/dashboards/yield_per_seed_weight", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Yield / DTH", "/dashboards/yield_per_dth", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Sew Rates", "/dashboards/sew_durations", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Harvest Rates", "/dashboards/harvest_durations", :method => :get, :class => "navbar-dropdown" %>
			    <br>
			    <%= link_to "Finance", "/dashboards/finance", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Flats / Week", "/dashboards/flats_per_week", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Seed Use / Week", "/dashboards/weekly_seed_use", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Weekly priorities", "/daily_priorities/weekly_dash", :method => :get, :class => "navbar-dropdown" %>
			  </div>
			</div>		
		</div>

		<div class="col">
			<div class="dropdown">
			  <button class="nav-btn btn btn-link dropdown-toggle"><strong>STUFFF</strong></button>
			  <div class="dropdown-content">
			    <%= link_to "weekly priorities", "/daily_priorities/weekly_dash", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "team members", "/team_members", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "team members shifts", "/team_members_shifts", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "media unit costs", "/media_unit_costs", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "weekly revenue", "/weekly_revenues", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "crop mixes", "/crop_mixes", :method => :get, :class => "navbar-dropdown" %>
			    <br>
			    <%= link_to "Crop Availability", "/dashboards/crop_availability", :method => :get, :class => "navbar-dropdown"  %>
				<%= link_to "Flat Allocation", "/dashboards/flat_allocation", :method => :get, :class => "navbar-dropdown"  %>
				<%= link_to "Transplant Calendar", "/dashboards/transplant_calendar", :method => :get, :class => "navbar-dropdown"  %>
			    <%= link_to "Harvest Calendar", "/dashboards/harvest_calendar", :method => :get, :class => "navbar-dropdown"  %>
			    <%= link_to "Soak & Sew Cal", "/dashboards/soak_sew_cal", :method => :get, :class => "navbar-dropdown"  %>
			    <br>
			    <%= link_to "ops cal", "/calendars/ops", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "harvest cal", "/calendars/harvest", :method => :get, :class => "navbar-dropdown" %>
			    <br>
			    <%= link_to "seed flat updates", "/seed_flat_updates", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "all flats", "/seed_flats", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "live treatments", "/seed_treatments/fresh_index", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "all treatments", "/seed_treatments/", :method => :get, :class => "navbar-dropdown" %>
			  </div>
			</div>		
		</div>

		<% @now = Time.now %>
		<% @drains_needed = SeedTreatment.where(soak_duration_hrs: nil).where(killed_on: nil).where(destination_flat_ids: []).select{|treatment| (@now - treatment.soak_start_datetime)/60/60 >= 6 } %>

		<% if @drains_needed.count > 0 %>
			<div class="col" style="min-width:393px;">	
			</div>
			<div class="col">
				<div class="dropdown">
				  <button class="dropbtn nav-btn btn btn-danger btn-lg"><span class="blinking"><i class="fas fa-exclamation-circle"></i> &nbsp; <strong>ALERTS</strong></span></button>
				  <div class="dropdown-content dropdown-menu-right" style="padding:11px;min-width: 222px;border:1px solid rgba(0, 0, 0, .5);">
					<%= render '/shared/end_soak_alerts'%>
				  </div>
				</div>		
			</div>
		<% end %>		
	</div>
</div>
<div class="spacer">
	&nbsp;
</div>
