<!-- Navigation -->
<div class="container-fluid nav">

	<div class="row">
		<div class="col" width="44px">
		</div>
		<div class="col">
			<br/>
			<br/>
			    <%= link_to "Pipeline", "/dashboards/pipeline", :method => :get, :class=>"dropbtn btn btn-success" %>		
			<br/><br/><br/>
		</div>
<% if false %>
		<div class="col">
			<br/>
			<br/>
			    <%= link_to "Ops Cal", "/dashboards/ops_calendar#today", :method => :get, :class=>"dropbtn btn btn-success" %>		
			<br/><br/><br/>
		</div>
<% end %>

		<div class="col">
			<br/>
			<br/>
			    <%= link_to "Ops Ref", crops_crop_ref_path, :class=>"dropbtn btn btn-success" %>		
			<br/><br/><br/>
		</div>
		
		<div class="col">
			<br/>
			<br/>
			<div class="dropdown">
			  <button class="dropbtn btn btn-success dropdown-toggle">Tools</button>
			  <div class="dropdown-content">
			    <%= link_to "Crop Availability", "/dashboards/crop_availability", :method => :get, :class => "navbar-dropdown"  %>
				<%= link_to "Flat Allocation", "/dashboards/flat_allocation", :method => :get, :class => "navbar-dropdown"  %>
				<%= link_to "Transplant Calendar", "/dashboards/transplant_calendar", :method => :get, :class => "navbar-dropdown"  %>
			    <%= link_to "Harvest Calendar", "/dashboards/harvest_calendar", :method => :get, :class => "navbar-dropdown"  %>
			    <%= link_to "Soak & Sew Cal", "/dashboards/soak_sew_cal", :method => :get, :class => "navbar-dropdown"  %>
			  </div>
			</div>			
			<br/>
			<br/>			
		</div>		

		<div class="col">
			<br/>
			<br/>
			    <%= link_to "Treatments", seed_treatments_fresh_index_path, :class=>"dropbtn btn btn-success" %>		
			<br/><br/><br/>
		</div>

		<div class="col-lg=3">
			<br/>
			<br/>
			    <%= link_to '+ Seed Treatment', new_seed_treatment_path, :class => "btn btn-info" %>
			<br/><br/><br/>
		</div>			
		<div class="col-lg=2">
			<br/>
			<br/>
			    <%= link_to '+ Seed Flat', new_seed_flat_path, :class => "btn btn-info" %>
			<br/><br/><br/>
		</div>
		
		<div class="col">
			<br/>
			<br/>
			<div class="dropdown">
			  <button class="dropbtn btn btn-success dropdown-toggle">Pipeline</button>
			  <div class="dropdown-content">
			    <%= link_to "Treatments", "/seed_treatments/fresh_index", :method => :get, :class => "navbar-dropdown" %>
				<%= link_to "Flats", "/seed_flats/basic_index", :method => :get, :class => "navbar-dropdown" %>
			    <div class="navbar-dropdown">***</div>
			    <%= link_to "Orders", "/orders", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Customers", "/customers", :method => :get, :class => "navbar-dropdown" %>			    
			    <%= link_to "Rooms", "/rooms", :method => :get, :class => "navbar-dropdown" %>
				<%= link_to "Systems", "/systems", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Reservoirs", "/reservoirs", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Nutrient Solutions", "/nutrient_solutions", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "ToDos", "/farm_ops_dos", :method => :get, :class => "navbar-dropdown" %>
			  </div>
			</div>			
			<br/>
			<br/>			
		</div>

		<div class="col">
			<br/>
			<br/>
			<div class="dropdown">
			  <button class="dropbtn btn btn-success dropdown-toggle">gritty</button>
			  <div class="dropdown-content">
			    <%= link_to "seed flat updates", "/seed_flat_updates", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "seed flats", "/seed_flats/basic_index", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "live flats", "/seed_flats/live_index", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "harvested flats", "/seed_flats/harvested_index", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "killed flats", "/seed_flats/killed_index", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "harvested + killed flats", "/seed_flats/harvested_killed", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "all flats", "/seed_flats", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "live treatments", "/seed_treatments/fresh_index", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "all treatments", "/seed_treatments/", :method => :get, :class => "navbar-dropdown" %>
			    
			  </div>
			</div>			
			<br/><br/><br/>
		</div>
		
		<div class="col">
			<br/>
			<br/>
			<div class="dropdown">
			  <button class="dropbtn btn btn-success dropdown-toggle">Data</button>
			  <div class="dropdown-content">
			    <%= link_to "Aggregates", "/dashboards/aggregates", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Averages", "/dashboards/averages", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Yield / DTH", "/dashboards/yield_per_dth", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Yield / Seed Weight", "/dashboards/yield_per_seed_weight", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Finance", "/dashboards/finance", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Flats / Week", "/dashboards/flats_per_week", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Seed Use / Week", "/dashboards/weekly_seed_use", :method => :get, :class => "navbar-dropdown" %>
			  </div>
			</div>			
			<br/>
			<br/>			
		</div>	

		<div class="col">
			<br/>
			<br/>
			<div class="dropdown">
			  <button class="dropbtn btn btn-success dropdown-toggle">Planning</button>
			  <div class="dropdown-content">
			    <%= link_to "ops cal", "/calendars/ops", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "harvest cal", "/calendars/harvest", :method => :get, :class => "navbar-dropdown" %>
			  </div>
			</div>			
			<br/>
			<br/>			
		</div>		
	</div>
</div>
<div class="spacer">
	&nbsp;
</div>
