<!-- Navigation -->
<div class="container-fluid nav">

	<div class="row">
		<div class="col" width="44px">
		</div>
		<div class="col">
			<br/>
			<br/>
			    <%= link_to "Pipeline", "/dashboards/pipeline", :method => :get, :class=>"dropbtn btn btn-success" %>		
			<br/><br/><br/>
		</div>		
		<div class="col">
			<br/>
			<br/>
			<div class="dropdown">
			  <button class="dropbtn btn btn-success">Seed Flats</button>
			  <div class="dropdown-content">
			    <%= link_to "All", "/seed_flats", :method => :get %>
			    <%= link_to "Live", "/seed_flats/live_index", :method => :get %>
			    <%= link_to "Hrvstd + Killed", "/seed_flats/harvested_killed", :method => :get %>
			  </div>
			</div>			
			<br/><br/><br/>
		</div>
		<div class="col">
			<br/>
			<br/>
			<div class="dropdown">
			  <button class="dropbtn btn btn-success">Tools</button>
			  <div class="dropdown-content">
			    <%= link_to "Harvest Calculatr", "/dashboards/calculator", :method => :get %>
			    <%= link_to "Harvest Calendar", "/dashboards/calendar", :method => :get %>
			    <%= link_to "Cut Sheet", "/dashboards/cutsheet", :method => :get%>
			    <%= link_to "Back of Envelope", "/dashboards/back_of_envelope", :method => :get%>
			  </div>
			</div>			
			<br/>
			<br/>			
		</div>
		<div class="col">
			<br/>
			<br/>
			    <%= link_to 'New Seed Flat', new_seed_flat_path, :class => "btn btn-info" %>
			<br/><br/><br/>
		</div>	
	</div>
	
</div>
<br><br>
