<!-- Navigation -->
<div class="container-fluid nav">

	<div class="row">
		<div class="col" width="44px">
		</div>
		<div class="col">
			<br/>
			<br/>
			<%= button_to "Seed Flats", root_url, :method => :get, :class => "btn btn-success" %>
			<br/>
			<br/>			
		</div>
		<div class="col">
			<br/>
			<br/>
			<%= button_to "Pipeline", "/dashboards/pipeline", :method => :get, :class => "btn btn-success" %>
			<br/>
			<br/>			
		</div>
		<div class="col">
			<br/>
			<br/>
			<%= button_to "Harvest Calculator", "/dashboards/calculator", :method => :get, :class => "btn btn-success" %>
			<br/>
			<br/>			
		</div>
		<div class="col">
			<br/>
			<br/>
			<%= button_to "Harvest Calendar", "/dashboards/calendar", :method => :get, :class => "btn btn-success" %>
			<br/>
			<br/>			
		</div>		
		<div class="col">
			<br/>
			<br/>
			<%= button_to "Cut Sheet", "/dashboards/cutsheet", :method => :get, :class => "btn btn-success" %>
			<br/>
			<br/>			
		</div>		
	</div>
	
</div>
