<div class="master-nav-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <%= image_tag("sprout.png", style:"width:66px;padding-right:44px;")%>
        <a class="btn btn-success non-drop-button" type="button" href="/tools/crop_availability">Crop Avail</a>
        <%= link_to "Ops Ref", crops_crop_ref_path, data: { keybinding: 'c' }, class: "btn btn-success non-drop-button" %>
        
        <!-- Action -->
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
          </button>
          <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
            <%= link_to "Soak", lists_soak_path, data: { keybinding: 's k' }, class: "dropdown-item" %>
            <%= link_to "Sew", calendars_sew_path, data: { keybinding: 's w' }, class: "dropdown-item" %>
            <a class="dropdown-item" href="/lists/harvest">Harvest</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item btn btn-info" href="/seed_treatments/new">+ treatment</a>
            <a class="dropdown-item btn btn-info" href="/seed_flats/new">+ seed flat</a>
          </div>
        </div>

        <!-- Pipeline -->
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pipeline
          </button>
          <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
            <%= link_to "Treatments", seed_treatments_fresh_index_path, data: { keybinding: 't' }, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Full Crop Avail", tools_crop_availability_path, data: { keybinding: '?' }, class: "dropdown-item" %>
            <%= link_to "Fast Crop Avail", tools_new_crop_avail_path, data: { keybinding: '/' }, class: "dropdown-item" %>
            <a class="dropdown-item" href="/dashboards/pipeline">Pipeline Cards</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/crops">Crops</a>
            <a class="dropdown-item" href="/crop_mixes">Crop Mixes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/rooms">Rooms</a>
            <a class="dropdown-item" href="/systems">Systems</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/seed_flat_updates">Seed Flat Updates</a>
            <a class="dropdown-item" href="/seed_flats/live_index">Live Flats</a>
            <a class="dropdown-item" href="/seed_flats/harvested_index">Harvested Flats</a>
            <a class="dropdown-item" href="/seed_flats/basic_index">All Flats</a>
          </div>
        </div>

        <!-- Fulfillment -->
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fulfillment
          </button>
          <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
            <%= link_to "Customers", customers_path, data: { keybinding: 'c u' }, class: "dropdown-item" %>
            <%= link_to "Active Orders", orders_current_index_path, data: { keybinding: 'o' }, class: "dropdown-item" %>
            <a class="dropdown-item" href="/over_grow_recipients">OverGrow</a>
            <a class="dropdown-item" href="/dashboards/harvest_calendar">Anticipated Harvest Dates</a>
            <a class="dropdown-item" href="/dashboards/overgrow">Nonallocated Flats</a>
            <a class="dropdown-item" href="/dashboards/flat_allocation">Flat Allocation</a>
          </div>
        </div>

        <!-- Data -->
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Data
          </button>
          <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/dashboards/aggregates">Aggregates</a>
            <%= link_to "Averages", dashboards_averages_path, data: { keybinding: 'a v g' }, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/dashboards/yield_per_soak_duration">yield / soak duration</a>
            <a class="dropdown-item" href="/dashboards/yield_per_seed_weight">yield / seed weight</a>
            <a class="dropdown-item" href="/dashboards/yield_per_dth">yield / dth</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/dashboards/sew_durations">sew durations</a>
            <a class="dropdown-item" href="/dashboards/harvest_durations">harvest durations</a>
            <a class="dropdown-item" href="/dashboards/flats_per_week">flats / wk</a>
            <a class="dropdown-item" href="/dashboards/weekly_seed_use">weekly seed use</a>
            <a class="dropdown-item" href="/media_unit_costs">media unit costs</a>            
          </div>
        </div>  

        <!-- Stuff -->
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Stuff
          </button>
          <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
            
            <h6 class="dropdown-header">Executive Admin</h6>
            <a class="dropdown-item" href="/daily_priorities/weekly_dash">daily priorities</a>
            <a class="dropdown-item" href="/dashboards/finance">finance</a>
            <a class="dropdown-item" href="/weekly_revenues">weekly revenues</a>

            <h6 class="dropdown-header">Depreciated (ops)</h6>
            <a class="dropdown-item" href="/reservoirs">Reservoirs</a>
            <a class="dropdown-item" href="/nutrient_solutions">Nutrient Solutions</a>

            <h6 class="dropdown-header">Depreciated (other)</h6>
            <a class="dropdown-item" href="/team_members">team members</a>
            <a class="dropdown-item" href="/team_members_shifts">team member shifts</a>
          </div>
        </div>      

      </div>
    </div>

    <%= link_to image_tag("trello.png", style:"width:44px;"), "https://trello.com/xstreetfarms/home", target: "_blank" %>
  </nav>

</div>