<!-- Navigation -->
<div class="container-fluid nav">

	<div class="row">
		<div class="col" style="padding-left: 44px;">
			<%= link_to "Pipeline", "/dashboards/pipeline", :method => :get, :class=>"nav-btn btn btn-success" %>
		</div>
		<div class="col">
			<%= link_to "Crop Availability", "/dashboards/crop_availability", :method => :get, :class=>"nav-btn btn btn-success" %>
		</div>

		<div class="col">
			<%= link_to "Ops Ref", crops_crop_ref_path, :class=>"nav-btn btn btn-success" %>
		</div>	

		<div class="col">
			<%= link_to "Treatments", seed_treatments_fresh_index_path, :class=>"nav-btn btn btn-success" %>
		</div>

		<div class="col">
			<div class="dropdown">
			  <button class="nav-btn btn btn-success dropdown-toggle">Lists</button>
			  <div class="dropdown-content">
			    <%= link_to "soak list", "/calendars/soak", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "sew list", "/calendars/sew", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "harvest list", "/lists/harvest", :method => :get, :class => "navbar-dropdown" %>
			  </div>
			</div>
		</div>

		<div class="col">
			<%= link_to '+ Seed Treatment', new_seed_treatment_path, :class => "nav-btn btn btn-info" %>
		</div>			
		<div class="col">
			<%= link_to '+ Seed Flat', new_seed_flat_path, :class => "nav-btn btn btn-info" %>
		</div>
		
		<div class="col">
			<%= link_to "Customers", "/customers", :method => :get, :class => "nav-btn btn btn-primary" %>
		</div>

		<div class="col">
			<%= link_to "Active Orders", "/orders/current_index", :method => :get, :class => "nav-btn btn btn-primary" %>
		</div>

		<div class="col">
			<%= link_to 'OverGrow', over_grow_recipients_path, :class => "nav-btn btn btn-primary" %>
		</div>

		<div class="col">
			<div class="dropdown">
			  <button class="nav-btn btn btn-dark dropdown-toggle">Pipeline</button>
			  <div class="dropdown-content">
			    <%= link_to "Rooms", "/rooms", :method => :get, :class => "navbar-dropdown" %>
				<%= link_to "Systems", "/systems", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Reservoirs", "/reservoirs", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Nutrient Solutions", "/nutrient_solutions", :method => :get, :class => "navbar-dropdown" %>
			  </div>
			</div>		
		</div>

		<div class="col">
			<div class="dropdown">
			  <button class="nav-btn btn btn-dark dropdown-toggle">Data</button>
			  <div class="dropdown-content">
			    <%= link_to "Aggregates", "/dashboards/aggregates", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Averages", "/dashboards/averages", :method => :get, :class => "navbar-dropdown" %>
			    <br>
			    <%= link_to "Yield / Soak Duration", "/dashboards/yield_per_soak_duration", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Yield / Seed Weight", "/dashboards/yield_per_seed_weight", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Yield / DTH", "/dashboards/yield_per_dth", :method => :get, :class => "navbar-dropdown" %>
			    <br>
			    <%= link_to "Finance", "/dashboards/finance", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Flats / Week", "/dashboards/flats_per_week", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Seed Use / Week", "/dashboards/weekly_seed_use", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "Weekly priorities", "/daily_priorities/weekly_dash", :method => :get, :class => "navbar-dropdown" %>
			  </div>
			</div>		
		</div>

		<div class="col">
			<div class="dropdown">
			  <button class="nav-btn btn btn-link dropdown-toggle"><strong>STUFFF</strong></button>
			  <div class="dropdown-content">
			    <%= link_to "weekly priorities", "/daily_priorities/weekly_dash", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "team members", "/team_members", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "team members shifts", "/team_members_shifts", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "media unit costs", "/media_unit_costs", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "weekly revenue", "/weekly_revenues", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "crop mixes", "/crop_mixes", :method => :get, :class => "navbar-dropdown" %>
			    <br>
			    <%= link_to "Crop Availability", "/dashboards/crop_availability", :method => :get, :class => "navbar-dropdown"  %>
				<%= link_to "Flat Allocation", "/dashboards/flat_allocation", :method => :get, :class => "navbar-dropdown"  %>
				<%= link_to "Transplant Calendar", "/dashboards/transplant_calendar", :method => :get, :class => "navbar-dropdown"  %>
			    <%= link_to "Harvest Calendar", "/dashboards/harvest_calendar", :method => :get, :class => "navbar-dropdown"  %>
			    <%= link_to "Soak & Sew Cal", "/dashboards/soak_sew_cal", :method => :get, :class => "navbar-dropdown"  %>
			    <br>
			    <%= link_to "ops cal", "/calendars/ops", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "harvest cal", "/calendars/harvest", :method => :get, :class => "navbar-dropdown" %>
			    <br>
			    <%= link_to "seed flat updates", "/seed_flat_updates", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "seed flats", "/seed_flats/basic_index", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "live flats", "/seed_flats/live_index", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "harvested flats", "/seed_flats/harvested_index", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "killed flats", "/seed_flats/killed_index", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "harvested + killed flats", "/seed_flats/harvested_killed", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "all flats", "/seed_flats", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "live treatments", "/seed_treatments/fresh_index", :method => :get, :class => "navbar-dropdown" %>
			    <%= link_to "all treatments", "/seed_treatments/", :method => :get, :class => "navbar-dropdown" %>
			  </div>
			</div>		
		</div>
	</div>
</div>
<div class="spacer">
	&nbsp;
</div>
